Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

Upgrade to gitea 1.7.4
  docker/gitea/Dockerfile
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Retry gitea repo setting HTTP POSTs
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update more dev servers to puppet 4
  inventory/groups.yaml
Due: none

Update more servers to puppet 4
  inventory/groups.yaml
Due: none

master-nameserver: Add unmanaged domains; add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
  testinfra/test_adns.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[dnm] letsencrypt prototype implementation
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsign.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

master-nameserver: Add unmanaged domains; add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  testinfra/test_adns.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

DNM: just build a gitea image
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  58/476a051adc7b968cf9d0b1f463a581b5499ccc
Due: none

Update notes for submitted changes
  59/23d9130e84520d7d98813dab5ec82da44ab15d
Due: none

Set the gitea theme color to match the opendev pink
  playbooks/roles/gitea/templates/app.ini.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  c0/39c8d0760d8b218b6081ad1b2e9ce19910a718
Due: none

Update notes for submitted changes
  68/705b22cd077e4efdaee3f176961b959203cbf5
Due: none

Update notes for submitted changes
  17/7edc0abb115cc9c24de5064af2d5d8d998c6e4
Due: none

Update notes for submitted changes
  05/b56342bcf30953f29c9d6612d0b5bb3c6b1c7e
Due: none

Backup rotation procedure
  doc/source/sysadmin.rst
Due: none

Add --flush-cache to launch.py ansible
  launch/launch-node.py
Due: none

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsign.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  e9/ca0bc9adc9c3226bac63507206d328f60a0d3f
Due: none

Update notes for submitted changes
  6d/f8caa421b7ef6bee5a235077da094f1b4467a8
Due: none

Add #openstack-uk to statusbot's list of channels
  hiera/common.yaml
Due: none

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsign.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsigned.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsigned.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[WIP] letsencrypt support
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/README.rst
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsigned.yaml
  playbooks/roles/letsencrypt-install-txt-record/README.rst
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/gate-groups.yaml.j2
  playbooks/zuul/templates/group_vars/letsencrypt.yaml.j2
  testinfra/test_letsencrypt.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review
