Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

Use a buildset registry in the container jobs
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

DNM: test broken zuul-preview dockerfile
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel

DNM: test fixed zuul-preview dockerfile
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  f3/63ed6dc0daa867809f5b1f8b2e4d1eb7675143
Due: none

Update notes for submitted changes
  8a/75f6fecf99da19bb3e0a23bacc52a7fc43705a
Due: none

Pin mariadb to 10.4
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Add a stop timeout to gitea docker-compose up
  playbooks/roles/gitea/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Delete tc.log file when we start mariadb
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  65/5ae66c84c7670d8b79ab899fab610ffe807b8d
Due: none

Override mariadb command to delete tc.log
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Upgrade all dev servers to puppet 4
  inventory/groups.yaml
Due: none

Upgrade some servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Upgrade git01.openstack.org to puppet 4
  inventory/groups.yaml
Due: none

vos release project website volumes
  modules/openstack_project/files/openafs/release-volumes.py
Due: none

Revert "Revert "Set default branch for repo""
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Use auto_init to create a repo with a master branch
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Remove releases link from gitea
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Manage user ssh keys from urls
  playbooks/group_vars/all.yaml
  playbooks/roles/users/library/construct_user_list.py
  playbooks/roles/users/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  a9/321b129b18475a6aa66f4e483eef3ce0c31287
Due: none

Update notes for submitted changes
  48/bbcc1dd52945b6f8145f205682b7d2a641ea6d
Due: none

Update notes for submitted changes
  41/315b11da3b3382e7e283052bf0e7eb3ccbae3f
Due: none

Add unmanaged domains, add acme.opendev.org
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-dns

Install latest puppet-vcsrepo
  modules.env
Due: none

Bump puppet/staging to 1.0.1 to satisfy mysql module dep
  modules.env
Due: none

Test gitea project creation playbook
  .zuul.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/test/gitea.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[WIP] Add unmanaged domains, add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Test gitea project creation playbook
  .zuul.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/test-gitea.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  d2/42dabdc69eb85ed68e95ccfc21d840b9d4757b
Due: none
