Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

system-config-zuul-role-integration-centos-7:
  parent: system-config-zuul-role-integration
  nodeset: centos-7

system-config-zuul-role-integration-trusty:
  parent: system-config-zuul-role-integration
  nodeset: ubuntu-trusty

system-config-zuul-role-integration-xenial:
  parent: system-config-zuul-role-integration-multinode
  nodeset:
    nodes:
    - name: trusty-puppet3
      label: ubuntu-trusty
    - name: trusty-puppet4
      label: ubuntu-trusty
    - name: xenial-puppet3
      label: ubuntu-xenial
    - name: xenial-puppet4
      label: ubuntu-xenial

system-config-zuul-role-integration-bionic:
  parent: system-config-zuul-role-integration
  nodeset: ubuntu-bionic

system-config-zuul-role-integration-debian-stable:
  parent: system-config-zuul-role-integration
  nodeset: debian-stable

system-config-run-base:
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: trusty
      label: ubuntu-trusty
    - name: xenial
      label: ubuntu-xenial
    - name: bionic
      label: ubuntu-bionic
    - name: centos7
      label: centos-7
  host-vars:
    trusty:
      ansible_python_interpreter: python2
  ...

Update notes for submitted changes
  14/b9027da240b3368783a137780bd6f1cc0d4724
Due: none

Update notes for submitted changes
  0d/4eff144a555271004b17872a050635c6e116cb
Due: none

Add Arm64 CI cloud
  playbooks/clouds_layouts.yml
  playbooks/templates/clouds/bridge_all_clouds.yaml.j2
  playbooks/templates/clouds/bridge_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/nodepool.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.openstack.org.yaml.j2
Due: system-config-run-base

Update notes for submitted changes
  76/b48d185b8513a1d990c63baae04d0fec176d6d
Due: none

Update notes for submitted changes
  7e/502ab9551fc6338cbffc368a2c13d141af7660
Due: none

Create the OpenStack discussion mailing list
  modules/openstack_project/manifests/lists.pp
Due: none

Add yamlgroup inventory plugin
  COPYING.GPL
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/ansible.cfg
  playbooks/roles/install-ansible/files/inventory_plugins/openstack.py
  playbooks/roles/install-ansible/files/inventory_plugins/yamlgroup.py
  playbooks/roles/install-ansible/tasks/main.yaml
  playbooks/zuul/run-base.yaml
Due: system-config-run-base

Switch centos mirror
  modules/openstack_project/files/mirror/centos-mirror-update.sh
Due: none

Update notes for submitted changes
  64/4d8ab502d0bb7a5b648d071c9c94dfed5d2f34
Due: none

Remove expire-old-reviews from docs
  doc/source/jeepyb.rst
Due: none

Update notes for submitted changes
  ec/cda01f741a59687507b15b9c56012683322d45
Due: none

Update notes for submitted changes
  ba/48b1dc5c4303ae29fbb296ddf58a9e500fa826
Due: none

modules: opensuse-mirror: Switch to US mirror for OBS repositories
  modules/openstack_project/files/mirror/opensuse-mirror-update.sh
Due: none

Update notes for submitted changes
  c3/2acacd184feb2ef5ed1db5595cf30ae22289a9
Due: none

Update notes for submitted changes
  69/75d7168a498ce0e627decc32ea5aae4b5bd76f
Due: none

Update notes for submitted changes
  87/1430c491b40ce33b9164a67226e3e6b72cc8bb
Due: none

Add notes on manual host configuration runs
  doc/source/sysadmin.rst
Due: none

Update notes for submitted changes
  a6/c2fb53e7ddf1bd2925c30de2a6d851c56e27c3
Due: none

Remove open-vm-tools from servers
  playbooks/roles/base-server/tasks/Debian.yaml
Due: system-config-run-base

Use include_tasks instead of include
  roles/openafs-client/tasks/main.yaml
  roles/puppet-install/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Remove ssh v1 options from sshd_config
  playbooks/roles/base-server/templates/sshd_config.j2
Due: system-config-run-base

Update notes for submitted changes
  57/6f1b99767eec12d97406893a34251bd53fd425
Due: none

Update notes for submitted changes
  68/329470fa3bead8d2386088a42c6d0fb3fbfee5
Due: none

Update notes for submitted changes
  cf/0da86f03daeb91a386706e7673784e2c535661
Due: none

Update cache-stats.sh to include the port 80 proxy
  modules/openstack_project/files/mirror/cache-stats.sh
Due: none

Add digit support to etherpad servers
  inventory/groups.yaml
  manifests/site.pp
  modules/openstack_project/manifests/etherpad.pp
  modules/openstack_project/manifests/etherpad_dev.pp
Due: none

Add zuul user to bridge.openstack.org
  playbooks/bridge.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/bridge.openstack.org.yaml
Due: system-config-run-base

Add zuul user to bridge.openstack.org
  playbooks/bridge.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/bridge.openstack.org.yaml
  playbooks/zuul/run-production-playbook.yaml
Due: system-config-run-base

Manage user ssh keys from urls
  playbooks/group_vars/all.yaml
  playbooks/roles/users/library/construct_user_list.py
  playbooks/roles/users/tasks/main.yaml
Due: system-config-run-base

Add opendev nameservers
  doc/source/dns.rst
  manifests/site.pp
Due: none

Update notes for submitted changes
  b7/ff8d9c8ca12d8d229b42c7a2dbd6f263212473
Due: none

Update notes for submitted changes
  a8/a59b479dee919349c62c826c1853a4592492b9
Due: none

Creates 'embargo-notice' list
  modules/openstack_project/manifests/kata_lists.pp
Due: none

[wip] port graphite setup to ansible
  .zuul.yaml
  playbooks/roles/statsd/README.rst
  playbooks/roles/statsd/files/statsd.service
  playbooks/roles/statsd/tasks/main.yaml
  playbooks/roles/statsd/templates/statsd.js.j2
Due: system-config-run-base

Only replicate openstack* to github
  modules/openstack_project/manifests/review.pp
Due: none

Only replicate gtest-org and kdc
  modules/openstack_project/manifests/review_dev.pp
Due: none

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
