Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

Update notes for submitted changes
  85/c1fc62f1a1d3c6e9b0ddd46bdb3f10851d5ed8
Due: none

Update notes for submitted changes
  30/59c72aa820a721c1ae81de22cc25163364984d
Due: none

[dnm] letsencrypt prototype implementation
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsign.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Revert "Add new health01 server to our inventory"
  hiera/common.yaml
  inventory/openstack.yaml
Due: none

Apply package updates before we reboot in launch-node
  launch/launch-node.py
  playbooks/apply-package-updates.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add health01.openstack.org server
  inventory/openstack.yaml
Due: none

Add graphite01.opendev.org
  hiera/common.yaml
  inventory/openstack.yaml
Due: none

Add --flush-cache to launch.py ansible
  launch/launch-node.py
Due: none

Update notes for submitted changes
  fb/34c32c1fef99f36a7f9f01b4110e952d4b40fe
Due: none

Update notes for submitted changes
  52/a4bae1709ac05a31e2fa5cd1aba4347fa8e8e9
Due: none

Update notes for submitted changes
  d5/4c187a34b606e0381f7f163211f4c911d91e07
Due: none

Add edit-secrets script to bridge.o.o
  playbooks/bridge.yaml
  playbooks/roles/edit-secrets-script/README.rst
  playbooks/roles/edit-secrets-script/files/edit-secrets
  playbooks/roles/edit-secrets-script/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  73/23108d4a6f463a18d11d15ed3fb723df78b419
Due: none

Cleanup old health server
  inventory/groups.yaml
  inventory/openstack.yaml
  manifests/site.pp
Due: none

Update notes for submitted changes
  bf/b2963c20ec7cfed10b69a10a9e08e9525e7e50
Due: none

Update notes for submitted changes
  3d/b4bdf7d35d44a883e4352445682db1ffe8b1f4
Due: none

Run dist-upgrade in launch-node
  playbooks/apply-package-updates.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update dns message to make sense for opendev
  launch/dns.py
Due: none

Add control plane clouds to nodepool builder clouds.yaml
  inventory/groups.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/templates/clouds/nodepool_builder_clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Clean up boot-from-volume volumes on error
  launch/launch-node.py
Due: none

Change the default for config-drive to True
  launch/launch-node.py
Due: none

Add control plane clouds to nodepool builder clouds.yaml
  inventory/groups.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/templates/clouds/nodepool_builder_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_launcher_clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Print reverse dns instructions for rackspace servers
  launch/dns.py
Due: none

Add gitea servers to inventory and load-balancer hostvars
  inventory/openstack.yaml
  playbooks/group_vars/gitea-lb.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add zp01 to inventory
  inventory/openstack.yaml
Due: none

Print yaml inventory instructions
  launch/dns.py
Due: none

Add control plane clouds to nodepool builder clouds.yaml
  inventory/groups.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/templates/clouds/nodepool_builder_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_launcher_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool
