Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

Update notes for submitted changes
  ce/58c67b6e962955d95fab7f34c5bb851b092334
Due: none

Add git-test website
  manifests/site.pp
  modules/openstack_project/templates/git-test.vhost.erb
Due: none

Update notes for submitted changes
  22/ad414a86dbff1074c8fcdf8dd24d0529e54dcf
Due: none

Set explicit version for k8s-on-openstack
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add resources for deploying rook and xtradb to kuberenets
  kubernetes/export-percona-helm.sh
  kubernetes/percona-xtradb-cluster/config-map_mysql-config.yaml
  kubernetes/percona-xtradb-cluster/config-map_startup-scripts.yaml
  kubernetes/percona-xtradb-cluster/gitea-db-namespace.yaml
  kubernetes/percona-xtradb-cluster/pxc-playbook.yaml
  kubernetes/percona-xtradb-cluster/secrets.yaml
  kubernetes/percona-xtradb-cluster/service-metrics.yaml
  kubernetes/percona-xtradb-cluster/service-percona.yaml
  kubernetes/percona-xtradb-cluster/service-repl.yaml
  kubernetes/percona-xtradb-cluster/statefulset.yaml
  kubernetes/percona-xtradb-cluster/storage-class.yaml
  kubernetes/rook/cluster.yaml
  kubernetes/rook/filesystem.yaml
  kubernetes/rook/operator.yaml
  kubernetes/rook/rook-playbook.yaml
  kubernetes/rook/toolbox.yaml
  playbooks/k8s/storage-class.yaml
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add gitea k8s resource definitions and playbook
  kubernetes/gitea/README
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/namespace.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Update notes for submitted changes
  80/62f4c1eca2e270c0dfc2ba0390ace6ad23b2b3
Due: none

Update notes for submitted changes
  12/709a1c8bdeb403b2518a1c6528a50dce49ae84
Due: none

Update notes for submitted changes
  20/9e5e03e0e8fc59137c6ddbff4ec1b703a2c0a4
Due: none

Install skopeo on Zuul executors
  manifests/site.pp
Due: none

Move OpenStackID host_vars to group_vars
  playbooks/group_vars/openstackid-dev.yaml
  playbooks/group_vars/openstackid.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Adds mailing list rustyk8s
  modules/openstack_project/manifests/lists.pp
Due: none

Run k8s-on-openstack to manage k8s control plane
  playbooks/run-k8s-on-openstack.yaml
  run_all.sh
  run_k8s_ansible.sh
  tools/cloud-to-env.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Increase number of k8s nodes to 4
  run_k8s_ansible.sh
Due: none

Add modified repo header template
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update notes for submitted changes
  fe/a54bc43c4a2aade7829b45dff4becc719f58ab
Due: none

Set APP_NAME for gitea
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update to gitea v1.6.3
  docker/gitea/Dockerfile
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Trigger deployment with gitea 1.6.3
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update to gitea 1.7.1
  docker/gitea/Dockerfile
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Trigger deployment with gitea 1.7.1
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Use project-config when syncing gitea repos
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Prevent gitea pods from being co-scheduled
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update notes for submitted changes
  96/c90744b552448de683681d35b845a19686cbd0
Due: none

Update notes for submitted changes
  ff/2960424eb4206eafbdac01b17024bb47ff3bfc
Due: none

Update notes for submitted changes
  9c/ac3c6b63b9b3f3241d9163c7bc849050e98307
Due: none

Update notes for submitted changes
  9e/6db28ffbf38f31470de56c103cea493e3d7f29
Due: none

Add insecure-ci-registry01 to inventory
  inventory/openstack.yaml
Due: none

Remove private_v4 parameters from static inventory
  inventory/openstack.yaml
Due: none

Override FQDN defaults for OpenStackID servers
  manifests/site.pp
  modules/openstack_project/manifests/openstackid_dev.pp
  modules/openstack_project/manifests/openstackid_prod.pp
Due: none

Update notes for submitted changes
  40/5f93daf83a20094fa426e9cb06e8715e2f1b7c
Due: none

Update notes for submitted changes
  2a/6628c87486bb83bedb05df9e93bc4299b5b4a3
Due: none

Add storyboard01 to Ansible inventory
  inventory/openstack.yaml
Due: none

Update notes for submitted changes
  9b/276914bde42444dcec13c3877ba200fb44ccd2
Due: none
