Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*

Switch StoryBoard database backups to local
  modules/openstack_project/manifests/storyboard.pp
Due: none

Fix spelling mistakes and reST typos in the doc
  doc/source/afs.rst
  doc/source/certificate_authority.rst
  doc/source/contribute-cloud.rst
  doc/source/firehose.rst
  doc/source/firehose_schema.rst
  doc/source/gerrit.rst
  doc/source/github.rst
  doc/source/jeepyb.rst
  doc/source/jjb.rst
  doc/source/kerberos.rst
  doc/source/logstash.rst
  doc/source/nodepool.rst
  doc/source/project.rst
  doc/source/reprepro.rst
  doc/source/running-your-own.rst
  doc/source/storyboard.rst
  doc/source/survey.rst
  doc/source/unofficial_project_hosting.rst
  doc/source/zuulv3.rst
Due: none

Fix enumerated list in gerrit.rst
  doc/source/gerrit.rst
Due: none

Update notes for submitted changes
  46/260a79ee1a7aeaf6efc8d2996dddb574a314b9
Due: none

Update notes for submitted changes
  4f/5818827524fc16b6134a1728fd24dda1bf0b80
Due: none

Trivial: Update pypi url to new url
  doc/source/firehose.rst
  doc/source/nodepool.rst
Due: none

fix somes typos in doc file.
  doc/source/firehose.rst
  doc/source/firehose_schema.rst
  doc/source/third_party.rst
Due: none

Update notes for submitted changes
  2d/049f4524d4465b5815127603aa4471fa5a63bd
Due: none

Ectomy some Jenkins out of the docs
  doc/source/devstack-gate.rst
  doc/source/gerrit.rst
  doc/source/grafana.rst
  doc/source/irc.rst
  doc/source/logstash.rst
  doc/source/translate.rst
  modules/openstack_project/files/logstash/jenkins-log-client.yaml
Due: none

Update notes for submitted changes
  3f/8ec46be84dd10ffbba52e4d0551147e5901db9
Due: none

Update notes for submitted changes
  f8/f7b73846cc1a82e80a50e494ec4c6cdd280f66
Due: none

[DNM] kafs testing
  .zuul.yaml
  roles-test/base.yaml
  roles-test/kafs-client.yaml
  roles/kafs-client/README.rst
  roles/kafs-client/defaults/main.yaml
  roles/kafs-client/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Update nsd systemd unit deps
  playbooks/roles/nameserver/tasks/main.yaml
Due: system-config-run-base

Update notes for submitted changes
  5f/6a1c33c0198ac5ff3d23fa525af3ad425e659d
Due: none

Update notes for submitted changes
  c4/4d47db433a6cac0e697c1f941919ad4404cb54
Due: none

Add a script to generate the static inventory
  tools/generate-inventory.py
Due: none

Set iptables forward drop by default
  playbooks/roles/iptables/templates/rules.v4.j2
  playbooks/roles/iptables/templates/rules.v6.j2
Due: system-config-run-base

Import install-docker role
  .zuul.yaml
  playbooks/base.yaml
  playbooks/roles/install-docker/README.rst
  playbooks/roles/install-docker/defaults/main.yaml
  playbooks/roles/install-docker/tasks/distro.yaml
  playbooks/roles/install-docker/tasks/main.yaml
  playbooks/roles/install-docker/tasks/upstream.yaml
  playbooks/roles/install-docker/templates/daemon.json.j2
  playbooks/roles/install-docker/templates/sources.list.j2
  playbooks/zuul/templates/gate-groups.yaml.j2
  testinfra/test_base.py
  testinfra/test_docker.py
  testinfra/test_firewall.py
Due: system-config-run-base

Enable github shared admin account
  doc/source/sysadmin.rst
Due: none

Update notes for submitted changes
  67/03341337b4073f45a7f6489c86fea41da7439a
Due: none

Update notes for submitted changes
  55/ddc7bf88fb88c1cf4ce5198772886158a25bc8
Due: none

Set iptables forward drop by default
  playbooks/roles/iptables/templates/rules.v4.j2
  playbooks/roles/iptables/templates/rules.v6.j2
  testinfra/test_base.py
Due: system-config-run-base

Update notes for submitted changes
  ac/602f9d14be992b5a118e8b587493bbfe30f894
Due: none

Update notes for submitted changes
  e9/bcd65a5b69b80c9f35da284b15d01dbd007ae9
Due: none

Collect syslogs from nodes in ansible tests
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base

[wip] Collect syslogs from nodes in ansible tests
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base

Update notes for submitted changes
  dd/554dbd02a80a9fec39f9d606a4a8df8b0b67df
Due: none

Update notes for submitted changes
  35/e87d687983d03bf205a71e34a54aed02fc79a3
Due: none

Update notes for submitted changes
  3b/ed6e0fd3882b241749dd375941ca3c226185eb
Due: none
