Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

Run a docker registry for CI
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/registry.yaml
  playbooks/roles/registry/README.rst
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
  playbooks/zuul/templates/group_vars/registry.yaml.j2
  testinfra/test_registry.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

WIP: Run a docker registry for CI
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/registry.yaml
  playbooks/roles/registry/README.rst
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
  playbooks/zuul/templates/group_vars/registry.yaml.j2
  testinfra/test_registry.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Use stage-output role in system-config-run
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Grab container logs at the end of run-base
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  playbooks/roles/gerrit/templates/gerrit.config
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  04/d41d7605d1b086a903f70206197d99101a81f5
Due: none

WIP: Run a docker registry for CI
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/registry.yaml
  playbooks/roles/registry/README.rst
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/registry.yaml.j2
  testinfra/test_registry.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Run a docker registry for CI
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/registry.yaml
  playbooks/roles/registry/README.rst
  playbooks/roles/registry/files/registry-docker/docker-compose.yaml
  playbooks/roles/registry/tasks/main.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/registry.yaml.j2
  testinfra/test_registry.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  playbooks/roles/gerrit/templates/gerrit.config
  playbooks/zuul/templates/group_vars/review.yaml.j2
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  playbooks/roles/gerrit/templates/gerrit.config
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/review.yaml.j2
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update to gitea 1.7.1
  docker/gitea/Dockerfile
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update etherpad-dev.o.o to puppet 4
  inventory/groups.yaml
Due: none

Upgrade all dev servers to puppet 4
  inventory/groups.yaml
Due: none

Put OpenStackID servers in inventory host groups
  inventory/groups.yaml
  manifests/site.pp
Due: none

Update notes for submitted changes
  7c/44ab4919b54bb36de7da7e528b119d4b9ed349
Due: none

Fix update_puppet_version playbook
  playbooks/update_puppet_version.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  07/27a5b3a699610a9cf3dc9d9198d8c2330ba7c2
Due: none

Add modified repo header template
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update to gitea v1.6.3
  docker/gitea/Dockerfile
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update to gitea 1.7.1
  docker/gitea/Dockerfile
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Upgrade some servers to puppet 4
  inventory/groups.yaml
Due: none

Upgrade git01.openstack.org to puppet 4
  inventory/groups.yaml
Due: none

Add gitea k8s resource definitions and playbook
  kubernetes/gitea/README
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/namespace.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Update notes for submitted changes
  3b/14256328a3fb02ec81af47383fbd867b8f705b
Due: none

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py
