Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

Fix gitea k8s files
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
Due: none

Fix gitea k8s files
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
Due: none

[dnm] testing...
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-remove-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  23/2f739e5dd4b3a6cad034d8240fb0a68ccdf495
Due: none

[dnm] letsencrypt prototype implementation
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Add new pbx01.opendev.org server to inventory
  inventory/openstack.yaml
Due: none

Update launch docs for opendev and static inventory
  launch/README
Due: none

Update notes for submitted changes
  28/36f2714a2bbe345d8088697b4d728435687eb5
Due: none

Update notes for submitted changes
  bc/0faf7a7b483be587a58d0ced3efa6104657dcf
Due: none

Deploy gitea with docker-compose
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/gitea.yaml
  playbooks/roles/gitea/tasks/main.yaml
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
  playbooks/zuul/templates/group_vars/gitea.yaml.j2
  testinfra/test_gitea.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Have gitea sshd listen on 222
  docker/gitea/Dockerfile
  docker/gitea/sshd_config
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Use host networking for gitea
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Deploy gitea with docker-compose
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/gitea.yaml
  playbooks/roles/gitea/README.rst
  playbooks/roles/gitea/tasks/main.yaml
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
  playbooks/zuul/templates/group_vars/gitea.yaml.j2
  testinfra/test_gitea.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Fix htpasswd creation for registry
  playbooks/roles/registry/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Clean up after StoryBoard replacement maintenance
  hiera/common.yaml
  inventory/groups.yaml
  inventory/openstack.yaml
  manifests/site.pp
Due: none

Deploy gitea with docker-compose
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/gitea.yaml
  playbooks/roles/gitea/README.rst
  playbooks/roles/gitea/tasks/main.yaml
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/gitea.yaml.j2
  testinfra/test_gitea.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[dnm] letsencrypt rax dns prototype implementation
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/bridge.yaml
  playbooks/letsencrypt-rax-dns.yaml
  playbooks/roles/letsencrypt-rax-cron/README.rst
  playbooks/roles/letsencrypt-rax-cron/defaults/main.yaml
  playbooks/roles/letsencrypt-rax-cron/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-issue/defaults/main.yaml
  playbooks/roles/letsencrypt-rax-issue/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-issue/templates/template.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Updated OpenStackId Production Node
  manifests/site.pp
  modules/openstack_project/manifests/openstackid_prod.pp
Due: none

PBX is running on xenial now, not trusty
  manifests/site.pp
Due: none

PBX is running on xenial now, not trusty
  inventory/openstack.yaml
  manifests/site.pp
Due: none

pbx.openstack.org cleanup
  doc/source/asterisk.rst
  hiera/common.yaml
  inventory/groups.yaml
  inventory/openstack.yaml
  manifests/site.pp
Due: none

Update notes for submitted changes
  ee/b69e7ba257f1e20040913410d4f1c5690df414
Due: none

Update notes for submitted changes
  b4/ed722bc6b35d383e2667a6261ffffcc013b465
Due: none

Update notes for submitted changes
  4d/3ba10e46cfb482fcb3b68a69d4bf5c1b88b2be
Due: none

[dnm] letsencrypt rax dns prototype implementation
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/bridge.yaml
  playbooks/letsencrypt-rax-dns.yaml
  playbooks/roles/letsencrypt-rax-cron/README.rst
  playbooks/roles/letsencrypt-rax-cron/defaults/main.yaml
  playbooks/roles/letsencrypt-rax-cron/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-issue/README.rst
  playbooks/roles/letsencrypt-rax-issue/defaults/main.yaml
  playbooks/roles/letsencrypt-rax-issue/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-issue/templates/template.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Add new openstackid01 host to inventory and cacti
  hiera/common.yaml
  inventory/openstack.yaml
Due: none

[dnm] letsencrypt rax dns prototype implementation
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/bridge.yaml
  playbooks/letsencrypt-rax-dns.yaml
  playbooks/roles/letsencrypt-rax-cron/README.rst
  playbooks/roles/letsencrypt-rax-cron/defaults/main.yaml
  playbooks/roles/letsencrypt-rax-cron/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-hiera/README.rst
  playbooks/roles/letsencrypt-rax-hiera/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-issue/README.rst
  playbooks/roles/letsencrypt-rax-issue/defaults/main.yaml
  playbooks/roles/letsencrypt-rax-issue/tasks/main.yaml
  playbooks/roles/letsencrypt-rax-issue/templates/template.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

DNM: sample letsencrypt playbook for small service
  playbooks/base.yaml
  playbooks/registry.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py
