Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*

[wip] install puppet
  .zuul.yaml
  roles-test/base.yaml
  roles-test/puppet-install.yaml
  roles/puppet-install/README.rst
  roles/puppet-install/defaults/main.yaml
  roles/puppet-install/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

[wip] install puppet
  .zuul.yaml
  roles-test/base.yaml
  roles-test/puppet-install.yaml
  roles/puppet-install/README.rst
  roles/puppet-install/defaults/main.yaml
  roles/puppet-install/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

[wip] install puppet
  .zuul.yaml
  roles-test/base.yaml
  roles-test/openafs-client.yaml
  roles-test/puppet-install.yaml
  roles/puppet-install/README.rst
  roles/puppet-install/defaults/main.yaml
  roles/puppet-install/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

[wip] install puppet
  .zuul.yaml
  roles-test/base.yaml
  roles-test/openafs-client.yaml
  roles-test/puppet-install.yaml
  roles/puppet-install/README.rst
  roles/puppet-install/defaults/main.yaml
  roles/puppet-install/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/bionic.yaml
  roles/puppet-install/tasks/puppet-install/default.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

[wip] install puppet
  .zuul.yaml
  playbooks/base.yaml
  roles-test/base.yaml
  roles-test/openafs-client.yaml
  roles-test/puppet-install.yaml
  roles/puppet-install/README.rst
  roles/puppet-install/defaults/main.yaml
  roles/puppet-install/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/bionic.yaml
  roles/puppet-install/tasks/puppet-install/default.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Create ansible roles to install puppet
  .zuul.yaml
  roles-test/base.yaml
  roles-test/openafs-client.yaml
  roles-test/puppet-install.yaml
  roles/puppet-install/README.rst
  roles/puppet-install/defaults/main.yaml
  roles/puppet-install/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/bionic.yaml
  roles/puppet-install/tasks/puppet-install/default.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Add install-puppet to base playbook
  .zuul.yaml
  playbooks/base.yaml
Due: system-config-run-base

Enable unattended upgrades
  playbooks/roles/base-server/files/10periodic
  playbooks/roles/base-server/files/50unattended-upgrades
  playbooks/roles/base-server/tasks/Debian.yaml
  playbooks/roles/base-server/vars/Debian.yaml
  playbooks/roles/base-server/vars/Ubuntu.trusty.yaml
  testinfra/test_base.py
Due: system-config-run-base

Enable unattended upgrades
  modules.env
  modules/openstack_project/manifests/automatic_upgrades.pp
  modules/openstack_project/manifests/server.pp
  playbooks/roles/base-server/files/10periodic
  playbooks/roles/base-server/files/50unattended-upgrades
  playbooks/roles/base-server/tasks/Debian.yaml
  playbooks/roles/base-server/vars/Debian.yaml
  playbooks/roles/base-server/vars/Ubuntu.trusty.yaml
  testinfra/test_base.py
Due: system-config-run-base

Correct iptables var names
  playbooks/group_vars/elasticsearch.yaml
  playbooks/group_vars/logstash.yaml
Due: system-config-run-base

Install limestone CA on openstack using hosts
  hiera/common.yaml
  inventory/groups.yaml
  manifests/site.pp
  playbooks/base.yaml
  playbooks/configure-openstack.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/roles/configure-openstack/defaults/main.yaml
  playbooks/roles/configure-openstack/files/limestone_cacert.pem
  playbooks/roles/configure-openstack/tasks/main.yaml
  testinfra/test_base.py
Due: system-config-run-base

Update notes for submitted changes
  e3/7ad40de1d29a7c4ce87fbe3d73491d5557fbc8
Due: none

Update notes for submitted changes
  7b/fb0db43f2bfe5cc1dca86827fec1121fa88afa
Due: none

Generate junit.xml file for testinfra
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
  tox.ini
Due: system-config-run-base

Rework testinfra junit collection
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base

Update notes for submitted changes
  d0/49cf45fb023b4ba83b7aec1588b55b281ec6d0
Due: none

Test puppet is installed on base
  testinfra/test_base.py
Due: system-config-run-base

Correct inventory pattern for planet.openstack.org
  inventory/groups.yaml
Due: none

Update notes for submitted changes
  6a/8707a02de21114c4e0c6c7da2f061ec236c25f
Due: none
