Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

system-config-zuul-role-integration-centos-7:
  parent: system-config-zuul-role-integration
  nodeset: centos-7

system-config-zuul-role-integration-trusty:
  parent: system-config-zuul-role-integration
  nodeset: ubuntu-trusty

system-config-zuul-role-integration-xenial:
  parent: system-config-zuul-role-integration-multinode
  nodeset:
    nodes:
    - name: trusty-puppet3
      label: ubuntu-trusty
    - name: trusty-puppet4
      label: ubuntu-trusty
    - name: xenial-puppet3
      label: ubuntu-xenial
    - name: xenial-puppet4
      label: ubuntu-xenial

system-config-zuul-role-integration-bionic:
  parent: system-config-zuul-role-integration
  nodeset: ubuntu-bionic

system-config-zuul-role-integration-debian-stable:
  parent: system-config-zuul-role-integration
  nodeset: debian-stable

system-config-run-base:
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: trusty
      label: ubuntu-trusty
    - name: xenial
      label: ubuntu-xenial
    - name: bionic
      label: ubuntu-bionic
    - name: centos7
      label: centos-7
  host-vars:
    trusty:
      ansible_python_interpreter: python2
  ...

Add logrotate role and rotate ansible log files
  playbooks/roles/ansible-cron/tasks/main.yaml
  playbooks/roles/install-ansible/tasks/main.yaml
  roles-test/base.yaml
  roles-test/logrotate.yaml
  roles/logrotate/README.rst
  roles/logrotate/defaults/main.yaml
  roles/logrotate/tasks/main.yaml
  roles/logrotate/templates/logrotate.conf.j2
  testinfra/test_base.py
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Update etherpad.o.o to etherpad-lite 1.7.0
  modules/openstack_project/manifests/etherpad.pp
Due: none

Install limestone CA on openstack using hosts
  hiera/common.yaml
  inventory/groups.yaml
  manifests/site.pp
  playbooks/base.yaml
  playbooks/configure-openstack.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/roles/configure-openstack/defaults/main.yaml
  playbooks/roles/configure-openstack/files/limestone_cacert.pem
  playbooks/roles/configure-openstack/tasks/main.yaml
  testinfra/test_base.py
Due: system-config-run-base

Generate junit.xml file for testinfra
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
  tox.ini
Due: system-config-run-base

Install limestone CA on hosts using openstacksdk
  hiera/common.yaml
  inventory/groups.yaml
  manifests/site.pp
  playbooks/base.yaml
  playbooks/configure-openstack.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/roles/configure-openstacksdk/defaults/main.yaml
  playbooks/roles/configure-openstacksdk/files/limestone_cacert.pem
  playbooks/roles/configure-openstacksdk/tasks/main.yaml
  testinfra/test_base.py
Due: system-config-run-base

base-test: iptables: allow zuul console streaming
  playbooks/group_vars/afs.yaml
  playbooks/group_vars/afsdb.yaml
  playbooks/group_vars/all.yaml
  playbooks/group_vars/eavesdrop.yaml
  playbooks/group_vars/firehose.yaml
  playbooks/group_vars/gerrit.yaml
  playbooks/group_vars/git-loadbalancer.yaml
  playbooks/group_vars/git-server.yaml
  playbooks/group_vars/kdc.yaml
  playbooks/group_vars/logstash.yaml
  playbooks/group_vars/mailman.yaml
  playbooks/group_vars/mirror.yaml
  playbooks/group_vars/ns.yaml
  playbooks/group_vars/pbx.yaml
  playbooks/group_vars/webservers.yaml
  playbooks/group_vars/zuul-executor.yaml
  playbooks/group_vars/zuul-scheduler.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/all.yaml.j2
  testinfra/test_base.py
Due: system-config-run-base

Add system-config-run-eavesdrop
  .zuul.yaml
  playbooks/zuul/run-base-common.yaml
  playbooks/zuul/run-host.yaml
  testinfra/test_eavesdrop.py
Due: system-config-run-base

Update notes for submitted changes
  80/0397c3da565574fa21ba1a03383c0c58664b01
Due: none

Update notes for submitted changes
  96/712e0cb8f832a81e1cc1918728643bd0360877
Due: none

Update notes for submitted changes
  53/e54af4512f19125c7bde452e3e291bb5be5b33
Due: none

Update notes for submitted changes
  86/27e4e06d33fa19fcf98ae44e88e0441b0cfb00
Due: none

Add system-config-run-eavesdrop
  .zuul.yaml
  inventory/groups.yaml
  playbooks/zuul/run-base-common.yaml
  playbooks/zuul/run-host.yaml
  testinfra/test_eavesdrop.py
Due: system-config-run-base

Add system-config-run-eavesdrop
  .zuul.yaml
  inventory/groups.yaml
  playbooks/zuul/run-base.yaml
  testinfra/test_eavesdrop.py
  tox.ini
Due: system-config-run-base

Update notes for submitted changes
  db/5a65332b23dd4229f668c63457085e3a09aa95
Due: none

Run cloud launcher on bridge.o.o
  playbooks/bridge.yaml
  playbooks/roles/cloud-launcher-cron/README.rst
  playbooks/roles/cloud-launcher-cron/defaults/main.yaml
  playbooks/roles/cloud-launcher-cron/tasks/main.yaml
Due: system-config-run-base

Add system-config-run-eavesdrop
  .zuul.yaml
  inventory/groups.yaml
  playbooks/zuul/run-base.yaml
  testinfra/test_base.py
  testinfra/test_eavesdrop.py
  tox.ini
Due: system-config-run-base

Add logrotate role and rotate ansible log files
  playbooks/roles/ansible-cron/tasks/main.yaml
  playbooks/roles/base-server/defaults/main.yaml
  playbooks/roles/install-ansible/tasks/main.yaml
  roles-test/base.yaml
  roles-test/logrotate.yaml
  roles/logrotate/README.rst
  roles/logrotate/defaults/main.yaml
  roles/logrotate/tasks/main.yaml
  roles/logrotate/templates/logrotate.conf.j2
  testinfra/test_base.py
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Install limestone CA on hosts using openstacksdk
  hiera/common.yaml
  inventory/groups.yaml
  manifests/site.pp
  playbooks/base.yaml
  playbooks/configure-openstack.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/roles/configure-openstacksdk/defaults/main.yaml
  playbooks/roles/configure-openstacksdk/files/limestone_cacert.pem
  playbooks/roles/configure-openstacksdk/tasks/main.yaml
  testinfra/test_base.py
  tox.ini
Due: system-config-run-base

Install limestone CA on hosts using openstacksdk
  hiera/common.yaml
  inventory/groups.yaml
  manifests/site.pp
  playbooks/base.yaml
  playbooks/configure-openstack.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/roles/configure-openstacksdk/README.rst
  playbooks/roles/configure-openstacksdk/defaults/main.yaml
  playbooks/roles/configure-openstacksdk/files/limestone_cacert.pem
  playbooks/roles/configure-openstacksdk/tasks/main.yaml
  testinfra/test_base.py
  tox.ini
Due: system-config-run-base

Add system-config-run-eavesdrop
  .zuul.yaml
  inventory/groups.yaml
  playbooks/zuul/run-base.yaml
  testinfra/iptables.py
  testinfra/test_base.py
  testinfra/test_eavesdrop.py
  tox.ini
Due: system-config-run-base

run-base: collect ansible configuration
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base

Update notes for submitted changes
  f4/8c8d9bac0144839411475da7ae3183d4a3899b
Due: none

Add system-config-run-eavesdrop
  .zuul.yaml
  inventory/groups.yaml
  playbooks/zuul/run-base.yaml
  test-requirements.txt
  testinfra/test_base.py
  testinfra/test_eavesdrop.py
  tox.ini
Due: system-config-run-base

Refactor run-base jobs
  .zuul.yaml
Due: system-config-run-base

Update notes for submitted changes
  20/286235b6177d2939e91b1e17274821aad06265
Due: none

run-base: exclude __pycache__ from logs
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base

Update notes for submitted changes
  6d/e5aee53b79cea3bf761cd5f2aef85658c7f5d2
Due: none

Update notes for submitted changes
  09/b1ff4bc36725fbd0c5022e112eb97f9abdab31
Due: none

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
