Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

Update notes for submitted changes
  ab/557b2a98b7459fd9f8ced028e8592799cc3df1
Due: none

Update k8s-on-openstack for ssh known_hosts
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add opendev kubernetes nodes to ansible inventory
  inventory/groups.yaml
  inventory/openstack.yaml
  playbooks/base.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Stop running k8s-on-openstack nested
  playbooks/run-k8s-on-openstack.yaml
  playbooks/update-system-config.yaml
  run_all.sh
  run_k8s_ansible.sh
Due: system-config-run-base, system-config-run-base-ansible-devel

Handle registry role running under py3
  playbooks/roles/registry/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Handle registry role running under py3
  .zuul.yaml
  playbooks/host_vars/insecure-ci-registry01.opendev.org.yaml
  playbooks/roles/registry/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  17/5a337e012a02a4d87ce47bbb8bcb82e839342d
Due: none

Update notes for submitted changes
  8b/71bf1a33f5240dd6d30838fa1d35f5cefe4685
Due: none

Update notes for submitted changes
  a2/52f99de9092aaabfa9b5a287811982f6deb7f9
Due: none

Update notes for submitted changes
  07/edd9d297dbad8bb9b9bfa1a697eb6e036720ce
Due: none

Install kubectl on bridge
  playbooks/base.yaml
  playbooks/roles/base-server/tasks/Debian.yaml
  playbooks/roles/base-server/tasks/Ubuntu.xenial.aarch64.yaml
  playbooks/roles/install-kubectl/README.rst
  playbooks/roles/install-kubectl/tasks/main.yaml
  playbooks/zuul/templates/host_vars/bridge.openstack.org.yaml.j2
  testinfra/test_bridge.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Run python with jemalloc in containers
  docker/python-base/Dockerfile
Due: none

Open port 5000 on the docker intermediate registry
  playbooks/group_vars/registry.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  0d/0e7042678e17e2f9a0cead9575d7a52a63112b
Due: none

Add gitea-cluster extra vars
  run_all.sh
Due: none

Update notes for submitted changes
  9a/cd916d4f378563bab071177fba9b05f7df9472
Due: none

Update notes for submitted changes
  50/580e55d5892723bd7095216cd72f9180ba5e45
Due: none

Update notes for submitted changes
  e1/e6e454a90005db2fd0aea067b194eed21bbc2d
Due: none

Update notes for submitted changes
  94/d404a53537a0127d05f7ee73eb314126eea940
Due: none

Update notes for submitted changes
  ff/4532789cc602b8bb6a10a364f36ea16cc2fbb2
Due: none

Update notes for submitted changes
  fe/078ed994622b11d70d3501405c10189fccf8bb
Due: none

Stop running k8s-on-openstack nested
  playbooks/bootstrap-k8s-nodes.yaml
  playbooks/run-k8s-on-openstack.yaml
  playbooks/update-system-config.yaml
  run_all.sh
  run_k8s_ansible.sh
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  d4/0c64cd0a78e96f19d9fe109c740ab1241825b1
Due: none

Fix gitea playbooks
  kubernetes/rook/rook-playbook.yaml
  run_all.sh
Due: none

Update notes for submitted changes
  0c/4a981f739f93ba875b5aab5e8cc2c85be0ce28
Due: none

Update notes for submitted changes
  1f/1f358c038b090b2009f2c6b410ee790e12a694
Due: none

Prep for pbx upgrade to xenial
  manifests/site.pp
Due: none

Prep for pbx upgrade to xenial
  manifests/site.pp
  modules/openstack_project/templates/pbx/asterisk/sip.conf.erb
Due: none

Correct paths in rook playbook
  kubernetes/rook/rook-playbook.yaml
Due: none

Update notes for submitted changes
  76/41a78b37ebec36dcd93084ed904c5afcba9367
Due: none

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py
