Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

Update notes for submitted changes
  37/03ddf4a0cc77c1907fa97b87752344fa84db20
Due: none

Update notes for submitted changes
  84/69d26c67bcf487f2bb185c55bfed3ce1725047
Due: none

Run the gitea k8s playbooks
  run_all.sh
Due: none

Use project-config when syncing gitea repos
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Prevent gitea pods from being co-scheduled
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update to gitea v1.6.3
  docker/gitea/Dockerfile
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Trigger deployment with gitea 1.7.1
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Trigger deployment with gitea 1.6.3
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update to gitea 1.7.1
  docker/gitea/Dockerfile
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update notes for submitted changes
  b8/67289ad263acb2d99efae911f8a628d5c41b83
Due: none

Update notes for submitted changes
  a6/328eee0c82197643716fb85d13946a7e468bbc
Due: none

Update notes for submitted changes
  24/b0c1b9d2d552a0e1abd73eef0a83b6c0c2fc79
Due: none

Update notes for submitted changes
  35/851e2053d1e35bbf741c8c163f4d233e12eac1
Due: none

Allow git-test to use mod_rewrite
  modules/openstack_project/templates/git-test.vhost.erb
Due: none

Add zuul user to bridge.openstack.org
  playbooks/bridge.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/bridge.openstack.org.yaml
  playbooks/zuul/run-production-playbook.yaml
  testinfra/test_bridge.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Manage user ssh keys from urls
  playbooks/group_vars/all.yaml
  playbooks/roles/users/library/construct_user_list.py
  playbooks/roles/users/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  14/50cb3c7a5a8585c58377a366496200313d0a23
Due: none

Update notes for submitted changes
  cf/53072d7d75fb839dd0a3434ab8ef4acf6f330a
Due: none

Update notes for submitted changes
  35/13dfb9fc4a1cbfc3d00fe05ec3667750a60bdb
Due: none

Update notes for submitted changes
  17/b996d2e172cbbe3e4139b2c3b7d69caaf635d0
Due: none

Update notes for submitted changes
  0e/7d6a507c299652712c359d958f82faae87b7ed
Due: none

Configure .kube/config on bridge
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/percona-xtradb-cluster/pxc-playbook.yaml
  kubernetes/rook/rook-playbook.yaml
  playbooks/base.yaml
  playbooks/host_vars/bridge.openstack.org.yaml
  playbooks/roles/configure-kubectl/README.rst
  playbooks/run-k8s-on-openstack.yaml
  playbooks/templates/clouds/bridge_kube_config.yaml.j2
  playbooks/zuul/templates/group_vars/nodepool.yaml.j2
  playbooks/zuul/templates/host_vars/bridge.openstack.org.yaml.j2
  testinfra/test_bridge.py
  testinfra/test_nodepool.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Rewrite #nXXX to #LXXX in incoming gitea urls
  docker/gitea/custom/templates/repo/header.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update notes for submitted changes
  76/10682b6fa1d041bcb6c64f925eecac66e287bf
Due: none

Add opendev kubernetes nodes to ansible inventory
  inventory/groups.yaml
  inventory/openstack.yaml
  playbooks/base.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Run base-repos as ubuntu on k8s nodes to bootstrap
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update k8s-on-openstack for ssh known_hosts
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Remove top level hiera lookups
  hiera/common.yaml
  manifests/site.pp
Due: none

Tell ansible to use py3 on insecure-ci-registry01
  playbooks/host_vars/insecure-ci-registry01.openstack.org
Due: system-config-run-base, system-config-run-base-ansible-devel

Install kubectl on bridge
  playbooks/base.yaml
  playbooks/roles/install-kubectl/README.rst
  playbooks/roles/install-kubectl/tasks/main.yaml
  testinfra/test_bridge.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Install kubectl on bridge
  playbooks/base.yaml
  playbooks/roles/base-server/tasks/Debian.yaml
  playbooks/roles/base-server/tasks/Ubuntu.xenial.aarch64.yaml
  playbooks/roles/install-kubectl/README.rst
  playbooks/roles/install-kubectl/tasks/main.yaml
  testinfra/test_bridge.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Add gitea-cluster extra vars
  run_all.sh
Due: none

Update notes for submitted changes
  27/66ec259568539c30d60099a571ddcd6ec53925
Due: none

Correct insecure-ci-registry01 hostvar filename
  playbooks/host_vars/insecure-ci-registry01.opendev.org
Due: system-config-run-base, system-config-run-base-ansible-devel
