Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

Disable github rate limit logging
  hiera/group/zuul-scheduler.yaml
Due: none

[dnm] testing...
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-remove-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  roles/acme-sh-install/README.rst
  roles/acme-sh-install/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  39/4e8f829f07af1942a7da72a0857d743b1780f6
Due: none

Reduce timeouts in run_all.sh
  run_all.sh
Due: none

[dnm] testing...
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-remove-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
  roles/acme-sh-install/README.rst
  roles/acme-sh-install/files/driver.sh
  roles/acme-sh-install/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[dnm] testing...
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-remove-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[dnm] testing...
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-remove-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update puppet config for openstackid-dev node
  manifests/site.pp
Due: none

Stop install the openshift client
  playbooks/roles/install-ansible/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Temporarily stop installing openshift
  playbooks/roles/install-ansible/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Upgrade all dev servers to puppet 4
  inventory/groups.yaml
Due: none

Upgrade some servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Upgrade git01.openstack.org to puppet 4
  inventory/groups.yaml
Due: none

Update notes for submitted changes
  e8/a26b57905049b60009efed72846547173b9d04
Due: none

Switch gitea to TLS
  docker/gitea-init/entrypoint.sh
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
Due: system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init

Update notes for submitted changes
  ff/a3c326c135fd9ac1b783a5b6aaa8567bceaf4d
Due: none

Fix gitea repository root
  kubernetes/gitea/app.ini.j2
Due: none

[dnm] testing...
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-remove-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  7d/08c7004a505a037572e62d0b3dfcc8533ea7d0
Due: none

Switch gitea to TLS
  docker/gitea-init/Dockerfile
  docker/gitea-init/entrypoint.sh
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
Due: system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init

Update notes for submitted changes
  a6/703e9e5700bc4f710e6a465f4bc28b769f4ad8
Due: none

Update notes for submitted changes
  4a/e46fd9c3853e17ee7bccebaaa704efc9e3c284
Due: none

Update notes for submitted changes
  e9/e1535646f64ce9e6a4304db9105736a9e6645e
Due: none

Update notes for submitted changes
  1d/acc6c9db9a438112520157c724d55d2e622d9e
Due: none

Update notes for submitted changes
  06/f322b6299d9f545d0be820aaca09a29496719e
Due: none

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py
