Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

Print yaml inventory instructions
  launch/dns.py
Due: none

Change the default for config-drive to True
  launch/launch-node.py
Due: none

Add control plane clouds to nodepool builder clouds.yaml
  inventory/groups.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/templates/clouds/nodepool_builder_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_launcher_clouds.yaml.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Update notes for submitted changes
  99/fd7d380ce7519a8850cfe583230b6550396d8e
Due: none

Add control plane clouds to nodepool builder clouds.yaml
  inventory/groups.yaml
  playbooks/group_vars/nodepool-builder.yaml
  playbooks/group_vars/nodepool-launcher.yaml
  playbooks/templates/clouds/nodepool_builder_clouds.yaml.j2
  playbooks/templates/clouds/nodepool_launcher_clouds.yaml.j2
  playbooks/zuul/templates/group_vars/control-plane-clouds.yaml.j2
  tools/check_clouds_yaml.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-nodepool

Update notes for submitted changes
  ec/be164baecd58c0d53afda752d27f23c449ef50
Due: none

Update notes for submitted changes
  e4/c4d108f593d8d54ced21c68b83ca17af1d445b
Due: none

Update notes for submitted changes
  8e/52ae742da33907b98fc8f413b3d19b5a2fd109
Due: none

Update notes for submitted changes
  b3/74b3a24aced494e3b24da95bb6c8d8ffb762e8
Due: none

Add zuul user to bridge.openstack.org
  playbooks/bridge.yaml
  playbooks/group_vars/all.yaml
  playbooks/host_vars/bridge.openstack.org.yaml
  playbooks/zuul/run-production-playbook.yaml
  testinfra/test_bridge.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Manage user ssh keys from urls
  playbooks/group_vars/all.yaml
  playbooks/roles/users/library/construct_user_list.py
  playbooks/roles/users/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add gitea to project rename playbook
  playbooks/gitea-rename-tasks.yaml
  playbooks/rename_repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Set ansible_python_interpreter for zuul-preview
  playbooks/group_vars/zuul-preview.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  04/077adf2948e49fc3a26f4f84cf02c706c06ef7
Due: none

Add testinfra master to -devel job
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[dnm] run devel job against testinfra with ansible-runner
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Open port 80 on zuul-preview
  playbooks/group_vars/zuul-preview.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Replicate to the standalone gitea severs
  modules/openstack_project/manifests/review.pp
Due: none

Create git repos on gitea servers before gerrit
  playbooks/remote_puppet_git.yaml
  playbooks/roles/gitea-git-repos/README.rst
  playbooks/roles/gitea-git-repos/defaults/main.yaml
  playbooks/roles/gitea-git-repos/tasks/main.yaml
  playbooks/roles/gitea-git-repos/tasks/setup-org.yaml
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  36/323c274ecc67fb9cedaf6d37824f1a1b2cf9a6
Due: none

Clone project-config to /opt on gitea servers
  playbooks/roles/gitea-git-repos/defaults/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  b1/b4c1e70d8c25d2659392984f66109bbe286f06
Due: none

Update notes for submitted changes
  48/5539f6181b78b254dddea125c663c841625e5e
Due: none

Remove Sign In link from gitea
  docker/gitea/custom/templates/base/head_navbar.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Update notes for submitted changes
  a5/3f333162cb4ebe53e8e401d035a352291a109a
Due: none

Update notes for submitted changes
  2a/6de1e8bfad481240eb2b72957a14397def32cf
Due: none

Remember that lookups are local
  playbooks/remote_puppet_git.yaml
  playbooks/roles/gitea-git-repos/defaults/main.yaml
  playbooks/roles/gitea-git-repos/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py
