Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

system-config-zuul-role-integration-centos-7:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: centos-7
    - name: puppet4
      label: centos-7
    groups:
    - name: puppet3
      nodes:
      - base

system-config-zuul-role-integration-trusty:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: ubuntu-trusty
    - name: puppet4
      label: ubuntu-trusty
    groups:
    - name: puppet3
      nodes:
      - base

system-config-zuul-role-integration-xenial:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: ubuntu-xenial
    - name: puppet4
      label: ubuntu-xenial
    groups:
    - name: puppet3
      nodes:
      - base

system-config-zuul-role-integration-bionic:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: ubuntu-bionic
    groups:
    - name: puppet5
      nodes:
      - base

system-config-zuul-role-integration-debian-stable:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: debian-stretch

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: trusty
      label: ubuntu-trusty
    - name: xenial
      label: ubuntu-xenial
    - name: bionic
  ...

system-config-run-base-ansible-devel:
  parent: system-config-run-base
  description: 'Run the base playbook with the latest ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: devel
  - name: openstack/openstacksdk
  - name: openstack/ara
  vars:
  ...

system-config-run-eavesdrop:
  parent: system-config-run
  description: 'Run the playbook for an eavesdrop server.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: eavesdrop01.openstack.org
      label: ubuntu-xenial

system-config-run-nodepool:
  parent: system-config-run
  description: 'Run the playbook for nodepool.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: nl01.openstack.org
      label: ubuntu-xenial
    - name: nb01.openstack.org
      label: ubuntu-xenial

system-config-run-dns:
  parent: system-config-run
  description: 'Run the playbook for dns.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: adns1.opendev.org
      label: ubuntu-bionic
    - name: ns1.opendev.org
      label: ubuntu-bionic

Set APP_NAME for gitea
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update notes for submitted changes
  83/237bc01efc6102d539cf5d831042e0532c2ede
Due: none

Update to gitea v1.6.3
  docker/gitea/Dockerfile
Due: none

Use promote pipeline for system-config images
  .zuul.yaml
  playbooks/zuul/build-image.yaml
  playbooks/zuul/build-image/pre.yaml
  playbooks/zuul/build-image/promote-retag.yaml
  playbooks/zuul/build-image/promote.yaml
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/build-image/upload.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Use promote pipeline for system-config images
  .zuul.yaml
  docker/gitea/Dockerfile
  playbooks/zuul/build-image.yaml
  playbooks/zuul/build-image/pre.yaml
  playbooks/zuul/build-image/promote-retag.yaml
  playbooks/zuul/build-image/promote.yaml
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/build-image/upload.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Use a mix-in job to reduce duplication
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Use a mix-in job to reduce duplication
  .zuul.yaml
  docker/gitea/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Remove 'openstack-gantt' from statusbot monitoring
  hiera/common.yaml
Due: none

Sketch of explicit multiple-inheritance
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Update notes for submitted changes
  89/9a2023d292802d8a673649b19c127a8dc573f6
Due: none

Add build-image-jinja-init to check
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Update notes for submitted changes
  25/192360e81e8a082c39c6ce0641f3903cf60a16
Due: none

Update notes for submitted changes
  22/c076b1efa2e25a22cc3853cfbb5dac319dbe77
Due: none

Update notes for submitted changes
  77/b58a8f62ead02fd77f39055e7c0663649198b0
Due: none

Fix docker image builds
  .zuul.yaml
  docker/gitea/Dockerfile
  docker/jinja-init/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Update review-dev.o.o to puppet 4
  inventory/groups.yaml
Due: none

Upgrade all dev servers to puppet 4
  inventory/groups.yaml
Due: none

Test new Gerrit 2.13.12 war on review-dev
  modules/openstack_project/manifests/review_dev.pp
Due: none

Update etherpad-dev.o.o to puppet 4
  inventory/groups.yaml
Due: none

Update notes for submitted changes
  b4/471fb2b676e44a2d6fe2ddb63191e8059c2061
Due: none

Fix image promote playbook
  playbooks/zuul/build-image/promote.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Fix image promote playbook
  docker/gitea/Dockerfile
  docker/jinja-init/Dockerfile
  playbooks/zuul/build-image/promote.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Increase number of k8s nodes to 4
  run_k8s_ansible.sh
Due: none

Update notes for submitted changes
  76/7e6c69218176482645e3525de97bcf5199f242
Due: none

Update notes for submitted changes
  20/59b73584126aa2570016b00f7ecc9329adf1df
Due: none

Build a gitea-init image
  .zuul.yaml
  docker/gitea-init/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Use the v1.6.0 template instead of master
  docker/gitea/custom/templates/repo/header.tmpl
Due: none

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Update notes for submitted changes
  2c/f0364d40a017b218266291850f26f117835281
Due: none

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
