Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py

Update review-dev.o.o to puppet 4
  inventory/groups.yaml
Due: none

Create a storyboard-dev hiera lookup group
  manifests/site.pp
Due: none

Use project-config when syncing gitea repos
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Run k8s-on-openstack to manage k8s control plane
  playbooks/run-k8s-on-openstack.yaml
  run_all.sh
  run_k8s_ansible.sh
  tools/cloud-to-env.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Add gitea k8s resource definitions and playbook
  kubernetes/gitea/README
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/namespace.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Add resources for deploying rook and xtradb to kuberenets
  kubernetes/export-percona-helm.sh
  kubernetes/percona-xtradb-cluster/config-map_mysql-config.yaml
  kubernetes/percona-xtradb-cluster/config-map_startup-scripts.yaml
  kubernetes/percona-xtradb-cluster/gitea-db-namespace.yaml
  kubernetes/percona-xtradb-cluster/pxc-playbook.yaml
  kubernetes/percona-xtradb-cluster/secrets.yaml
  kubernetes/percona-xtradb-cluster/service-metrics.yaml
  kubernetes/percona-xtradb-cluster/service-percona.yaml
  kubernetes/percona-xtradb-cluster/service-repl.yaml
  kubernetes/percona-xtradb-cluster/statefulset.yaml
  kubernetes/percona-xtradb-cluster/storage-class.yaml
  kubernetes/rook/cluster.yaml
  kubernetes/rook/filesystem.yaml
  kubernetes/rook/operator.yaml
  kubernetes/rook/rook-playbook.yaml
  kubernetes/rook/toolbox.yaml
  playbooks/k8s/storage-class.yaml
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Prevent gitea pods from being co-scheduled
  kubernetes/gitea/k8s/deployment.yaml
Due: none

Update notes for submitted changes
  76/c7720df15e18a08ef82e3ad47eeea661d5fcac
Due: none

Update notes for submitted changes
  88/424076b929e7476a9f02c36a631d948f7198d7
Due: none

Only replicate branches and tags to gitea
  modules/openstack_project/manifests/review.pp
Due: none

Turn on future parser for afs servers
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Turn on future parser for kerberos servers
  inventory/groups.yaml
Due: none

Put opendev website content onto gitea homepage
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/templates/home.tmpl
Due: none

Update notes for submitted changes
  38/44e71d565b622a16ab387c3ffceb1cc3ed7fef
Due: none

Set APP_NAME for gitea
  kubernetes/gitea/app.ini.j2
Due: none

Add an opendev css theme file for gitea
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/public/css/theme-opendev.css
Due: none

Add gitea dockerfile
  .zuul.yaml
  docker/gitea/Dockerfile
  docker/gitea/sshd-entrypoint.sh
  playbooks/zuul/build-image-pre.yaml
  playbooks/zuul/build-image-upload.yaml
  playbooks/zuul/build-image.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Add jinja-init Dockerfile
  .zuul.yaml
  docker/gitea-init/Dockerfile
  docker/gitea-init/entrypoint.sh
  docker/gitea/Dockerfile
  docker/gitea/custom/test.html
  docker/jinja-init/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Put opendev website content onto gitea homepage
  docker/gitea/custom/templates/home.tmpl
  docker/gitea/custom/test.html
Due: none

Add modified repo header template
  docker/gitea/custom/templates/repo/header.tmpl
Due: none

Switch gitea-init to use opendevorg/jinja-init
  docker/gitea-init/Dockerfile
Due: none

Use the v1.6.0 template instead of master
  docker/gitea/custom/templates/repo/header.tmpl
Due: none

Update notes for submitted changes
  3c/e494ababec3c83f30434924f193c097f7e75dd
Due: none
