Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-bazel, system-config-upload-image-bazel, system-config-promote-image-bazel, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

system-config-build-image-gitea:
  description: Build a gitea image
  parent: system-config-build-image
  vars:
    images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image
  parent: system-config-upload-image
  vars:
    images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest
  parent: system-config-promote-image
  vars:
    images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-jinja-init:
  description: Build a jinja-init image
  parent: system-config-build-image
  vars:
    images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image
  parent: system-config-upload-image
  vars:
    images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest
  parent: system-config-promote-image
  vars:
    images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image
  parent: system-config-build-image
  vars:
    images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image
  parent: system-config-upload-image
  vars:
    images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest
  parent: system-config-promote-image
  vars:
    images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-bazel:
  description: Build a bazel image
  parent: system-config-build-image
  vars:
    images:
    - context: docker/bazel
      target: bazel
      repository: opendevorg/bazel

system-config-upload-image-bazel:
  description: Build and upload a bazel image
  parent: system-config-upload-image
  vars:
    images:
    - context: docker/bazel
      target: bazel
      repository: opendevorg/bazel

Reorder the copy in the python-builder builder image
  docker/python-builder/Dockerfile
Due: none

Split python-base into its own Dockerfile
  .zuul.yaml
  docker/python-base/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Update notes for submitted changes
  b7/8d2f8ed6c4902cb45bc0d3b6e6932a210d8332
Due: none

Flexible instance naming for openstackid-dev
  manifests/site.pp
Due: none

Correct typo in zuul restart playbook
  playbooks/zuul_restart.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  f9/9b72fd0cabd9a2594458f4b3a4c929938543e1
Due: none

Flexible instance naming for openstackid-dev
  inventory/groups.yaml
  manifests/site.pp
Due: none

Update notes for submitted changes
  62/8b7cce511a21914cde7514947ec96a7f38f303
Due: none

Save a copy of all messages to openstack-discuss
  playbooks/host_vars/lists.openstack.org.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Switch to zuul-jobs docker build jobs
  .zuul.yaml
  playbooks/zuul/build-image/pre.yaml
  playbooks/zuul/build-image/promote.yaml
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/build-image/upload.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Update notes for submitted changes
  5a/75bc9c962e1d4f25bf03ffddcba0cf324b3e8f
Due: none

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  playbooks/zuul/run-base-post.yaml
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Update notes for submitted changes
  d1/45e86f71f72af87079c208e596b3c816431119
Due: none

Consume pip.conf for mirror info if present
  docker/python-builder/scripts/assemble
Due: none

Add mirror for shibboleth package for CentOS 7
  modules/openstack_project/files/mirror/opensuse-mirror-update.sh
Due: none

Add openstackid-dev01 to inventory
  inventory/openstack.yaml
Due: none

Remove old storyboard-dev from inventory
  inventory/groups.yaml
  inventory/openstack.yaml
  manifests/site.pp
Due: none

Add storyboard01 to Ansible inventory
  inventory/openstack.yaml
Due: none

Update DNS documentation
  doc/source/dns.rst
Due: none

Add zuul.opendev.org webserver
  manifests/site.pp
Due: none

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  playbooks/roles/gerrit/templates/gerrit.config
  playbooks/zuul/run-base-post.yaml
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Update notes for submitted changes
  a9/02797fc96da49ae27678cec2acf299176c03ab
Due: none

Add http vhosts for zuul.o.o
  manifests/site.pp
Due: none

Update notes for submitted changes
  df/6edc372af2a1096ac174123fc40909a234fff4
Due: none

Use stage-output role in system-config-run
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Grab container logs at the end of run-base
  .zuul.yaml
  playbooks/zuul/run-base-post.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  playbooks/roles/gerrit/templates/gerrit.config
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Path conditions:
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-bazel: any of: docker/bazel/.*
  system-config-upload-image-bazel: any of: docker/bazel/.*
  system-config-promote-image-bazel: any of: docker/bazel/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
