Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

system-config-zuul-role-integration-centos-7:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: centos-7
    - name: puppet4
      label: centos-7
    groups:
    - name: puppet3
      nodes:
      - base

system-config-zuul-role-integration-trusty:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: ubuntu-trusty
    - name: puppet4
      label: ubuntu-trusty
    groups:
    - name: puppet3
      nodes:
      - base

system-config-zuul-role-integration-xenial:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: ubuntu-xenial
    - name: puppet4
      label: ubuntu-xenial
    groups:
    - name: puppet3
      nodes:
      - base

system-config-zuul-role-integration-bionic:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: ubuntu-bionic
    groups:
    - name: puppet5
      nodes:
      - base

system-config-zuul-role-integration-debian-stable:
  parent: system-config-zuul-role-integration
  nodeset:
    nodes:
    - name: base
      label: debian-stretch

system-config-run-base:
  parent: system-config-run
  description: 'Run the "base" playbook on each of the node types
  
    currently in use.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: trusty
      label: ubuntu-trusty
    - name: xenial
      label: ubuntu-xenial
    - name: bionic
  ...

system-config-run-base-ansible-devel:
  parent: system-config-run-base
  description: 'Run the base playbook with the latest ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
    override-checkout: devel
  - name: openstack/openstacksdk
  - name: openstack/ara
  vars:
  ...

system-config-run-eavesdrop:
  parent: system-config-run
  description: 'Run the playbook for an eavesdrop server.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: eavesdrop01.openstack.org
      label: ubuntu-xenial

system-config-run-nodepool:
  parent: system-config-run
  description: 'Run the playbook for nodepool.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: nl01.openstack.org
      label: ubuntu-xenial
    - name: nb01.openstack.org
      label: ubuntu-xenial

system-config-run-dns:
  parent: system-config-run
  description: 'Run the playbook for dns.
  
    '
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: adns1.opendev.org
      label: ubuntu-bionic
    - name: ns1.opendev.org
      label: ubuntu-bionic

Add gitea dockerfile
  .zuul.yaml
  docker/gitea/Dockerfile
  playbooks/zuul/build-image-pre.yaml
  playbooks/zuul/build-image-upload.yaml
  playbooks/zuul/build-image.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Use domain-generic regexes/globs for hostnames
  inventory/groups.yaml
  manifests/site.pp
Due: none

Add gitea dockerfile
  .zuul.yaml
  docker/gitea/Dockerfile
  docker/gitea/sshd-entrypoint.sh
  playbooks/zuul/build-image-pre.yaml
  playbooks/zuul/build-image-upload.yaml
  playbooks/zuul/build-image.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Add jinja-init Dockerfile
  .zuul.yaml
  docker/jinja-init/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Rejigger hostgroup tests for server removals
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

WIP Deploy a kubernetes and a gitea
  kubernetes/README.md
  kubernetes/ansible.cfg
  kubernetes/destroy.yaml
  kubernetes/env.sh
  kubernetes/gitea-namespace.yaml
  kubernetes/gitea.yaml
  kubernetes/group_vars/all.yaml
  kubernetes/mariadb-pv.yaml
  kubernetes/mariadb-secret.yaml
  kubernetes/mariadb.yaml
  kubernetes/registry.yaml
  kubernetes/roles/common/tasks/main.yaml
  kubernetes/roles/healthcheck/tasks/main.yaml
  kubernetes/roles/k8s-addons/files/manifests/admin-user.yaml
  kubernetes/roles/k8s-addons/files/manifests/nginx-ingress-controller.yaml
  kubernetes/roles/k8s-addons/files/syncconfig.yaml
  kubernetes/roles/k8s-addons/tasks/helm.yaml
  kubernetes/roles/k8s-addons/tasks/main.yaml
  kubernetes/roles/k8s-addons/templates/k8s-keystone-auth.yaml.j2
  kubernetes/roles/k8s-rbac/files/cloud-controller-manager-role-bindings.yaml
  kubernetes/roles/k8s-rbac/files/cloud-controller-manager-roles.yaml
  kubernetes/roles/k8s-rbac/files/k8s-auth-policy.yaml
  kubernetes/roles/k8s-rbac/tasks/main.yaml
  kubernetes/roles/kubeadm-master/tasks/main.yaml
  kubernetes/roles/kubeadm-nodes/tasks/main.yaml
  kubernetes/roles/kubeadm/handlers/main.yaml
  kubernetes/roles/kubeadm/tasks/main.yaml
  kubernetes/roles/kubectl/tasks/main.yaml
  kubernetes/roles/openstack-master/tasks/main.yaml
  kubernetes/roles/openstack-nodes/tasks/main.yaml
  kubernetes/roles/openstack-security-groups/tasks/main.yaml
  kubernetes/rook-cluster.yaml
  kubernetes/rook-filesystem.yaml
  kubernetes/rook-operator.yaml
  kubernetes/rook-toolbox.yaml
  kubernetes/run.sh
  kubernetes/site.yaml
  kubernetes/storage-class.yaml
  kubernetes/upgrade.yaml
Due: none

Install openshift module on bridge
  playbooks/roles/install-ansible/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add gitea k8s resource definitions and playbook
  kubernetes/gitea.yaml
  kubernetes/gitea/README
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/namespace.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
Due: none

Add jinja-init Dockerfile
  .zuul.yaml
  docker/gitea-init/Dockerfile
  docker/gitea-init/entrypoint.sh
  docker/gitea/Dockerfile
  docker/jinja-init/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Update doc for ptgbot to match current behavior
  doc/source/irc.rst
Due: none

Update notes for submitted changes
  54/76e882e3930feab4c8cbc5a3a88ffa0d573ec1
Due: none

Update notes for submitted changes
  67/9210deb2334df12f03e50dfa54af0e37e1a3cc
Due: none

Update notes for submitted changes
  b0/0ce47356ff7f1811f1f3c47042a63f16634c24
Due: none

Update notes for submitted changes
  e8/4bb89d982cfc3351be075aab664001052ed863
Due: none

Run k8s-on-openstack to manage k8s control plane
  playbooks/run-k8s-on-openstack.yaml
  run-k8s-ansible.sh
  run_all.sh
  tools/cloud-to-env.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Add resources for deploying rook and xtradb to kuberenets
  kubernetes/export-percona-helm.sh
  kubernetes/percona-xtradb-cluster/config-map_mysql-config.yaml
  kubernetes/percona-xtradb-cluster/config-map_startup-scripts.yaml
  kubernetes/percona-xtradb-cluster/gitea-db-namespace.yaml
  kubernetes/percona-xtradb-cluster/pxc-playbook.yaml
  kubernetes/percona-xtradb-cluster/secrets.yaml
  kubernetes/percona-xtradb-cluster/service-metrics.yaml
  kubernetes/percona-xtradb-cluster/service-percona.yaml
  kubernetes/percona-xtradb-cluster/service-repl.yaml
  kubernetes/percona-xtradb-cluster/statefulset.yaml
  kubernetes/percona-xtradb-cluster/storage-class.yaml
  kubernetes/rook/cluster.yaml
  kubernetes/rook/filesystem.yaml
  kubernetes/rook/operator.yaml
  kubernetes/rook/rook-playbook.yaml
  kubernetes/rook/toolbox.yaml
  playbooks/k8s/storage-class.yaml
  playbooks/run-k8s-on-openstack.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add gitea replication
  modules/openstack_project/manifests/review.pp
Due: none

Update notes for submitted changes
  86/ca1ac8c177f9f3fd06d262a8d1434ecda6b9aa
Due: none

Update notes for submitted changes
  23/1e4665481e5e0d76b9030ed8160d1bae410b73
Due: none

Add more \\ to launchpad-bug Gerrit tracking-id
  modules/openstack_project/manifests/gerrit.pp
Due: none

Update notes for submitted changes
  83/b493648a7da6ed48505b9fb3535749d1f67d04
Due: none

Add gitea k8s resource definitions and playbook
  kubernetes/gitea.yaml
  kubernetes/gitea/README
  kubernetes/gitea/app.ini.j2
  kubernetes/gitea/gitea-playbook.yaml
  kubernetes/gitea/k8s/deployment.yaml
  kubernetes/gitea/k8s/namespace.yaml
  kubernetes/gitea/k8s/secret.yaml
  kubernetes/gitea/k8s/service.yaml
  kubernetes/gitea/setup-org.yaml
  kubernetes/gitea/setup-repo.yaml
  kubernetes/gitea/sync-repos.yaml
Due: none

Allow DNS zone transfers from ns1/ns2.opendev.org
  playbooks/group_vars/adns.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-dns

Update notes for submitted changes
  49/601213fefef2731e9e60f96539f45d01c3ba2a
Due: none

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
