Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

system-config-build-image-jinja-init:
  description: Build a jinja-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-upload-image-jinja-init:
  description: Build and upload a jinja-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-promote-image-jinja-init:
  description: Promote a previously published jinja-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/jinja-init
      target: jinja-init
      repository: opendevorg/jinja-init

system-config-build-image-gitea-init:
  description: Build a gitea-init image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-upload-image-gitea-init:
  description: Build and upload a gitea-init image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-promote-image-gitea-init:
  description: Promote a previously published gitea-init image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea-init
      target: gitea-init
      repository: opendevorg/gitea-init

system-config-build-image-gitea:
  description: Build a gitea image.
  parent: system-config-build-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-upload-image-gitea:
  description: Build and upload a gitea image.
  parent: system-config-upload-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-promote-image-gitea:
  description: Promote a previously published gitea image to latest.
  parent: system-config-promote-image
  vars:
    docker_images:
    - context: docker/gitea
      target: gitea
      repository: opendevorg/gitea
    - context: docker/gitea
      target: gitea-openssh
      repository: opendevorg/gitea-openssh

system-config-build-image-gerrit:
  description: Build a gerrit image.
  parent: system-config-build-image
  pre-run: playbooks/zuul/gerrit/repos.yaml
  required-projects:
  - name: gerrit.googlesource.com/gerrit
    override-checkout: stable-2.15
  - name: gerrit.googlesource.com/plugins/commit-message-length-validator
  ...

[WIP] Add unmanaged domains, add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[WIP] Add unmanaged domains, add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
  testinfra/test_adns.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

master-nameserver: Add unmanaged domains; add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
  testinfra/test_adns.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Test gitea project creation playbook
  .zuul.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/test-gitea.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Test gitea project creation playbook
  .zuul.yaml
  playbooks/zuul/run-base.yaml
  playbooks/zuul/test-gitea.yaml
  tox.ini
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Revert "Revert "Set default branch for repo""
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  a3/d7f61e052d9b38c2785e515f232b89f902299f
Due: none

Update notes for submitted changes
  31/9e42a1c2438af730fd3bd2019293be5da0d72c
Due: none

Update notes for submitted changes
  9f/f29b108dcd35f16ba8f76ba833ade47ad33ade
Due: none

Update notes for submitted changes
  d4/47f7d2dfda7c7a379efdf16e37ae3967bdd12e
Due: none

Test afs nodes on xenial
  manifests/site.pp
Due: none

Update notes for submitted changes
  df/97b70c00cb466ebcd2e67a01ea9e9a0d77ae72
Due: none

Split python-base into its own Dockerfile
  .zuul.yaml
  docker/python-base/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Run python with jemalloc in containers
  docker/python-base/Dockerfile
Due: none

Send readme parameter when creating projects
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Send readme parameter when creating projects
  .zuul.yaml
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  68/3b73b4fb4e21abea7889c836e0825a28ee6cb4
Due: none

Cleanup exim paniclog on newly launched hosts
  launch/launch-node.py
  playbooks/cleanup-exim-paniclog.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Only install puppet 4 if not already installed
  playbooks/update_puppet_version.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add global inventory to launch_node
  launch/launch-node.py
Due: none

Add a soft dependency between gitea build and run
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  eb/6c3c2f1ab87396d68fb83875a669400d2230e2
Due: none

Update notes for submitted changes
  2c/fd85c792c1635f728dade92fd789eb28432c61
Due: none

Use the opendev docker build jobs
  .zuul.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Add flag to disable cron for test jobs
  playbooks/roles/ansible-cron/defaults/main.yaml
  playbooks/roles/ansible-cron/tasks/main.yaml
  playbooks/zuul/templates/host_vars/bridge.openstack.org.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Fix puppet 4 installations
  playbooks/group_vars/puppet4.yaml
  run_all.sh
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  7a/18eb49e4fcaf3b18288ae4e12a17cff6a017be
Due: none

Set up legacy git redirect sites
  manifests/site.pp
  modules/openstack_project/files/git-redirect.htaccess
  modules/openstack_project/manifests/files.pp
  modules/openstack_project/templates/git-redirect.vhost.erb
Due: none

Use opendev logos
  docker/gitea/custom/public/img/gitea-sm.png
  docker/gitea/custom/public/img/opendev.svg
  docker/gitea/custom/templates/home.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Disable ansible cron even more
  playbooks/zuul/run-base.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

DNM: test broken zuul-preview dockerfile
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel

DNM: test fixed zuul-preview dockerfile
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py
