Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-bazel, system-config-upload-image-bazel, system-config-promote-image-bazel, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Path conditions:
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-bazel: any of: docker/bazel/.*
  system-config-upload-image-bazel: any of: docker/bazel/.*
  system-config-promote-image-bazel: any of: docker/bazel/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py

Add support for per-image build-arg settings
  .zuul.yaml
  playbooks/zuul/build-image/run.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Build a gerrit image
  .zuul.yaml
  docker/gerrit/Dockerfile
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/gerrit/repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Delete change tags from docker image repos
  docker/gitea/Dockerfile
  playbooks/zuul/build-image/promote-delete-tag.yaml
  playbooks/zuul/build-image/promote-retag.yaml
  playbooks/zuul/build-image/promote.yaml
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-run-base, system-config-run-base-ansible-devel

Migrate OpenStackID dev server to php7
  manifests/site.pp
  modules/openstack_project/manifests/openstackid_dev.pp
  modules/openstack_project/manifests/openstackid_prod.pp
Due: none

Update notes for submitted changes
  a5/46e25e76678eeaa480f0700689889026812fc4
Due: none

Remove trailing slash from googlesource url
  hiera/group/zuul-executor.yaml
  hiera/group/zuul-merger.yaml
  hiera/group/zuul-scheduler.yaml
Due: none

Add verify-status plugin to gerrit build
  playbooks/zuul/gerrit/repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add delete-project and importer plugins
  playbooks/zuul/gerrit/repos.yaml
  roles/setup-gerrit-source-repo/files/external_plugin_deps.bzl
  roles/setup-gerrit-source-repo/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  c1/aa5717cc15ff334121336793cc645e4a0ba82c
Due: none

Add support for per-image build-arg settings
  .zuul.yaml
  docker/gitea/Dockerfile
  playbooks/zuul/build-image/run.yaml
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Build a gerrit image
  .zuul.yaml
  docker/gerrit/Dockerfile
  playbooks/zuul/gerrit/repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Add docker image building jobs
  .zuul.yaml
  playbooks/zuul/build-image/pre.yaml
  playbooks/zuul/build-image/promote.yaml
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/build-image/upload.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Remove all docker image building jobs
  .zuul.yaml
  docker/gerrit/Dockerfile
  docker/gitea-init/Dockerfile
  docker/gitea-init/entrypoint.sh
  docker/gitea/Dockerfile
  docker/gitea/custom/templates/home.tmpl
  docker/gitea/sshd-entrypoint.sh
  docker/jinja-init/Dockerfile
  playbooks/zuul/build-image/pre.yaml
  playbooks/zuul/build-image/promote-delete-tag.yaml
  playbooks/zuul/build-image/promote-retag.yaml
  playbooks/zuul/build-image/promote.yaml
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/build-image/upload.yaml
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Use correct 2.13.12 war on review-dev
  modules/openstack_project/manifests/review_dev.pp
Due: none

Add gitea-init image jobs
  .zuul.yaml
  docker/gitea-init/Dockerfile
  docker/gitea-init/entrypoint.sh
Due: system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Add jinja-init image jobs
  .zuul.yaml
  docker/jinja-init/Dockerfile
Due: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Add gitea image jobs
  .zuul.yaml
  docker/gitea/Dockerfile
  docker/gitea/custom/templates/home.tmpl
  docker/gitea/sshd-entrypoint.sh
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Add gerrit image jobs
  .zuul.yaml
  docker/gerrit/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns

Update notes for submitted changes
  f9/63225dcde9ed26b120269a2a6cfd17b7419d11
Due: none

Update notes for submitted changes
  d1/a2dfa6f554ff8028906d4da4a7a0a79960f87d
Due: none

Upgrade to LimeSurvey 3.15.6
  modules/openstack_project/manifests/survey.pp
Due: none

Correct auth_openid scope in survey vhost
  modules/openstack_project/templates/survey.vhost.erb
Due: none

Update notes for submitted changes
  b1/c4a6d36aab4b90ab7661bc76c76573bd97495c
Due: none
