Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

Split python-base into its own Dockerfile
  .zuul.yaml
  docker/python-base/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Run python with jemalloc in containers
  docker/python-base/Dockerfile
Due: none

Set up legacy git redirect sites
  manifests/site.pp
  modules/openstack_project/files/git-redirect.htaccess
  modules/openstack_project/manifests/files.pp
  modules/openstack_project/templates/git-redirect.vhost.erb
Due: none

Update notes for submitted changes
  c7/4a4da06eeb77824d298b40bb53f9cf154ae48e
Due: none

Update notes for submitted changes
  d8/f56f827b2f94ea22088f44faf62c46ca24ef0f
Due: none

Just use openstack.org domain for wiki hosts
  inventory/groups.yaml
  manifests/site.pp
Due: none

Add wiki-dev02 to Ansible inventory
  inventory/openstack.yaml
Due: none

Update notes for submitted changes
  7a/94bd060e70f221c1b1e2ad2ae1022c776f7398
Due: none

Update notes for submitted changes
  a5/f3c1cffe02e02cc22dee5578814027eaa6bbee
Due: none

[dmn]
  tools/mass-git-change/all-repos.py
  tools/mass-git-change/clone.sh
  tools/mass-git-change/devstack-repos.txt
  tools/mass-git-change/replace.sh
  tools/mass-git-change/reset.sh
Due: none

[dmn] stashing some scripts to make git:// -> https:// changes
  tools/mass-git-change/all-repos.py
  tools/mass-git-change/clone.sh
  tools/mass-git-change/devstack-repos.txt
  tools/mass-git-change/replace.sh
  tools/mass-git-change/reset.sh
Due: none

Add meetbot to openstack-fenix channel
  hiera/common.yaml
Due: none

Update notes for submitted changes
  9a/dc5ce8fee06c9db1ba64c15ffee5a81cb76f22
Due: none

Update notes for submitted changes
  b2/28fec4c6c810159f8bf2e4cd414710dee08a5a
Due: none

Update notes for submitted changes
  72/e51a899834e52ddeb2d217d9da3a539a989ed9
Due: none

Update notes for submitted changes
  ee/fb462d4c00752d6b4379ccbbd32a21b3096f48
Due: none

Update notes for submitted changes
  1c/90019495630a9a3bbe488bfd84f98b9038e999
Due: none

[dmn] stashing some scripts to make git:// -> https:// changes
  tools/mass-git-change/all-repos.py
  tools/mass-git-change/clone.sh
  tools/mass-git-change/devstack-repos.txt
  tools/mass-git-change/pushit.sh
  tools/mass-git-change/replace.sh
  tools/mass-git-change/reset.sh
  tools/mass-git-change/to-push-full.txt
Due: none

Manage zuul status backups directly
  manifests/site.pp
Due: none

Handle launchpad projects in our gitea project creation
  playbooks/roles/gitea-git-repos/tasks/setup-repo.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  1d/e45463c886ca32f89cbe1931a53b37e92bc17b
Due: none

Update notes for submitted changes
  f4/1d9da163b29ccd781b4d6a557b7b1abc46a365
Due: none

Remove trusty testing flag from nodes that are xenial
  manifests/site.pp
Due: none

[dmn] Stashing some scripts to make git:// -> https:// changes
  tools/opendev-transition/git-to-https/README.txt
  tools/opendev-transition/git-to-https/all-repos.py
  tools/opendev-transition/git-to-https/clone.sh
  tools/opendev-transition/git-to-https/devstack-repos.txt
  tools/opendev-transition/git-to-https/pushit.sh
  tools/opendev-transition/git-to-https/replace.sh
  tools/opendev-transition/git-to-https/reset.sh
Due: none

Upgrade some servers to puppet 4
  inventory/groups.yaml
  playbooks/roles/install-ansible/files/inventory_plugins/test-fixtures/results.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Ensure lockfile dir is created for bridge.o.o
  playbooks/roles/ansible-cron/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Change to parent dir in run_k8s_ansible.sh
  run_k8s_ansible.sh
Due: none

Update notes for submitted changes
  8c/8b1d9c711ce5b608f22d42a3991ea3b6c1e307
Due: none

[dnm] letsencrypt prototype implementation
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsign.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

master-nameserver: Add unmanaged domains; add acme.opendev.org
  .zuul.yaml
  playbooks/group_vars/dns.yaml
  playbooks/roles/master-nameserver/README.rst
  playbooks/roles/master-nameserver/tasks/main.yaml
  testinfra/test_adns.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  cb/868e8f97292e679c71a9cf19e377952c9f5d32
Due: none

Use OpenDev icon in gitea
  docker/gitea/custom/public/img/avatar_default.png
  docker/gitea/custom/public/img/favicon.ico
  docker/gitea/custom/public/img/favicon.png
  docker/gitea/custom/public/img/gitea-safari.svg
  docker/gitea/custom/public/img/opendev-192.png
  docker/gitea/custom/public/img/opendev-512.png
  docker/gitea/custom/public/img/opendev-icon.svg
  docker/gitea/custom/public/img/opendev-lg.png
  docker/gitea/custom/public/img/opendev-sm.png
  docker/gitea/custom/templates/base/head_navbar.tmpl
  docker/gitea/custom/templates/pwa/manifest_json.tmpl
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea
