Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-build-image-jinja-init, system-config-upload-image-jinja-init, system-config-promote-image-jinja-init, system-config-build-image-gitea-init, system-config-upload-image-gitea-init, system-config-promote-image-gitea-init, system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea, system-config-build-image-gerrit, system-config-upload-image-gerrit, system-config-promote-image-gerrit, system-config-build-image-python-builder, system-config-upload-image-python-builder, system-config-promote-image-python-builder, system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Path conditions:
  system-config-build-image-jinja-init: any of: docker/jinja-init/.*
  system-config-upload-image-jinja-init: any of: docker/jinja-init/.*
  system-config-promote-image-jinja-init: any of: docker/jinja-init/.*
  system-config-build-image-gitea-init: any of: docker/gitea-init/.*
  system-config-upload-image-gitea-init: any of: docker/gitea-init/.*
  system-config-promote-image-gitea-init: any of: docker/gitea-init/.*
  system-config-build-image-gitea: any of: docker/gitea/.*
  system-config-upload-image-gitea: any of: docker/gitea/.*
  system-config-promote-image-gitea: any of: docker/gitea/.*
  system-config-build-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-upload-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-promote-image-gerrit: any of: docker/gerrit/.*, playbooks/zuul/gerrit/.*
  system-config-build-image-python-builder: any of: docker/python-builder/.*
  system-config-upload-image-python-builder: any of: docker/python-builder/.*
  system-config-promote-image-python-builder: any of: docker/python-builder/.*
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-docker: any of: .zuul.yaml, playbooks/roles/install-docker, testinfra/test_docker.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py
  system-config-run-review: any of: .zuul.yaml, playbooks/group_vars/gerrit.yaml, ^playbooks/host_vars/review\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/gerrit.yaml.j2, playbooks/roles/gerrit/, testinfra/test_gerrit.py

WIP: Run zuul-preview
  .zuul.yaml
  playbooks/roles/zuul-preview/README.rst
  playbooks/roles/zuul-preview/files/zuul-preview-docker/docker-compose.yaml
  playbooks/roles/zuul-preview/tasks/main.yaml
  playbooks/zuul/buildset-registry.yaml
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

[dnm] letsencrypt prototype implementation
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/letsencrypt.yaml
  playbooks/roles/letsencrypt-acme-sh-install/README.rst
  playbooks/roles/letsencrypt-acme-sh-install/files/driver.sh
  playbooks/roles/letsencrypt-acme-sh-install/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/defaults/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/acme.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/main.yaml
  playbooks/roles/letsencrypt-create-certs/tasks/selfsign.yaml
  playbooks/roles/letsencrypt-install-txt-record/tasks/main.yaml
  playbooks/roles/letsencrypt-install-txt-record/templates/zone.db.j2
  playbooks/roles/letsencrypt-request-certs/tasks/main.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Docs addition on decrypting Zuul secrets
  doc/source/zuul.rst
Due: none

Update notes for submitted changes
  de/41e426c437329590edaf896b371d39f281e01f
Due: none

Have gitea sshd listen on 222
  docker/gitea/Dockerfile
  docker/gitea/sshd_config
Due: system-config-build-image-gitea, system-config-upload-image-gitea, system-config-promote-image-gitea

Use host networking for gitea
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  67/cda2c7df35f63c70484fab7d496e7b6e8b44ea
Due: none

Allow nb*.openstack.org to talk to graphite
  playbooks/group_vars/graphite.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Run an haproxy load balancer for gitea
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/haproxy/README.rst
  playbooks/roles/haproxy/files/docker/docker-compose.yaml
  playbooks/roles/haproxy/tasks/main.yaml
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
  playbooks/zuul/run-base.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Run an haproxy load balancer for gitea
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/gitea-lb.yaml
  playbooks/roles/haproxy/README.rst
  playbooks/roles/haproxy/files/docker/docker-compose.yaml
  playbooks/roles/haproxy/tasks/main.yaml
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2
  testinfra/test_gitea_lb.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  42/3c90e72d5d26caec7debb03e91fa525bb401d5
Due: none

WIP: Run zuul-preview
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/zuul-preview/README.rst
  playbooks/roles/zuul-preview/files/zuul-preview-docker/docker-compose.yaml
  playbooks/roles/zuul-preview/tasks/main.yaml
  playbooks/zuul/buildset-registry.yaml
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Don't install a blank docker daemon config
  playbooks/roles/install-docker/tasks/main.yaml
  playbooks/roles/install-docker/templates/daemon.json.j2
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-docker

run-base: configure docker mirrors on all hosts in CI
  playbooks/zuul/run-base-pre.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Don't install a blank docker daemon config
  playbooks/roles/install-docker/tasks/main.yaml
  playbooks/roles/install-docker/templates/daemon.json.j2
  testinfra/test_docker.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-docker

Update notes for submitted changes
  f7/4ff2bdb748b11c26b2854b39e9d50c7f44e0b2
Due: none

WIP: Run zuul-preview
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/zuul-preview/README.rst
  playbooks/roles/zuul-preview/files/zuul-preview-docker/docker-compose.yaml
  playbooks/roles/zuul-preview/tasks/main.yaml
  playbooks/zuul/buildset-registry.yaml
  playbooks/zuul/fail.yaml
  testinfra/test_zuul_preview.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Add site name to Exim local_domains on SB server
  playbooks/group_vars/storyboard.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  37/1d9e8a1c7a467613a904ebbc6e1b2b5b544033
Due: none

Fix docker registry proxy
  modules/openstack_project/templates/mirror.vhost.erb
Due: none

Improve comments in docker proxy config
  modules/openstack_project/templates/mirror.vhost.erb
Due: none

Update notes for submitted changes
  e3/170854f973bf32d4d63b59aee75df7510cffc9
Due: none

Update notes for submitted changes
  d3/8fcda214f5cb4d6492ad3dd1e4879c4e40eea2
Due: none

Update notes for submitted changes
  73/32b423ebea135e33a6ea93ab938f5e039bc373
Due: none

Update notes for submitted changes
  08/a553f529588703435a4e2396e12d1c1abf1058
Due: none

Use host networking for gitea
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
  testinfra/test_gitea.py
Due: system-config-run-base, system-config-run-base-ansible-devel

Run an haproxy load balancer for gitea
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/group_vars/gitea-lb.yaml
  playbooks/group_vars/gitea.yaml
  playbooks/roles/haproxy/README.rst
  playbooks/roles/haproxy/files/docker/docker-compose.yaml
  playbooks/roles/haproxy/tasks/main.yaml
  playbooks/roles/haproxy/templates/haproxy.cfg.j2
  playbooks/zuul/run-base.yaml
  playbooks/zuul/templates/group_vars/gitea-lb.yaml.j2
  testinfra/test_gitea_lb.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-docker, system-config-run-dns, system-config-run-review

Update notes for submitted changes
  cf/300f915859dd17998ae7c4e604dfc925f87333
Due: none

Add Redirect options to static https vhosts
  modules/openstack_project/templates/static-https-redirect.vhost.erb
Due: none

Use host networking for gitea
  playbooks/roles/gitea/tasks/main.yaml
  playbooks/roles/gitea/templates/app.ini.j2
  playbooks/roles/gitea/templates/docker-compose.yaml.j2
  testinfra/test_gitea.py
Due: system-config-run-base, system-config-run-base-ansible-devel
