Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

system-config-zuul-role-integration-centos-7:
  parent: system-config-zuul-role-integration
  nodeset: centos-7

system-config-zuul-role-integration-trusty:
  parent: system-config-zuul-role-integration
  nodeset: ubuntu-trusty

system-config-zuul-role-integration-xenial:
  parent: system-config-zuul-role-integration-multinode
  nodeset:
    nodes:
    - name: trusty-puppet3
      label: ubuntu-trusty
    - name: trusty-puppet4
      label: ubuntu-trusty
    - name: xenial-puppet3
      label: ubuntu-xenial
    - name: xenial-puppet4
      label: ubuntu-xenial

system-config-zuul-role-integration-bionic:
  parent: system-config-zuul-role-integration
  nodeset: ubuntu-bionic

system-config-zuul-role-integration-debian-stable:
  parent: system-config-zuul-role-integration
  nodeset: debian-stable

system-config-run-base:
  nodeset:
    nodes:
    - name: bridge.openstack.org
      label: ubuntu-bionic
    - name: trusty
      label: ubuntu-trusty
    - name: xenial
      label: ubuntu-xenial
    - name: bionic
      label: ubuntu-bionic
    - name: centos7
      label: centos-7
  host-vars:
    trusty:
      ansible_python_interpreter: python2
  ...

Update notes for submitted changes
  f1/19cc5aabcc9c8249b421335f4835341d5dffd5
Due: none

Install python2.7 on xenial nodes
  playbooks/roles/base-server/vars/Ubuntu.xenial.yaml
Due: system-config-run-base

Update notes for submitted changes
  ee/7faefe08065f9532ec126116d9c9152bceffa7
Due: none

Add profile_tasks and timer callbacks for ansible
  playbooks/roles/install-ansible/files/ansible.cfg
Due: system-config-run-base

Don't use loops with package task
  playbooks/roles/base-server/tasks/main.yaml
  playbooks/roles/pip3/tasks/main.yaml
Due: system-config-run-base

Test puppet is installed on base
  testinfra/test_base.py
Due: system-config-run-base

unbound: fix dhclient.conf copy
  playbooks/roles/unbound/tasks/dhclient.yaml
  playbooks/roles/unbound/tasks/main.yaml
Due: system-config-run-base

Update notes for submitted changes
  69/b78eea0412a3937f55d2d06104695d98e6b634
Due: none

Add mitogen support for ansible on bridge.o.o
  playbooks/roles/install-ansible/files/ansible.cfg
  playbooks/roles/install-ansible/tasks/main.yaml
Due: system-config-run-base

Update notes for submitted changes
  7b/d8117e2a78240ee447a0417e2924515bf52d10
Due: none

Update notes for submitted changes
  60/d31fc636bbdd045f96dd2f7517c81b1b1fea68
Due: none

Don't use loops with package task
  playbooks/roles/base-server/tasks/main.yaml
  playbooks/roles/pip3/tasks/main.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

base-test: iptables: allow zuul console streaming
  playbooks/group_vars/afs.yaml
  playbooks/group_vars/afsdb.yaml
  playbooks/group_vars/all.yaml
  playbooks/group_vars/eavesdrop.yaml
  playbooks/group_vars/firehose.yaml
  playbooks/group_vars/gerrit.yaml
  playbooks/group_vars/git-loadbalancer.yaml
  playbooks/group_vars/git-server.yaml
  playbooks/group_vars/kdc.yaml
  playbooks/group_vars/logstash.yaml
  playbooks/group_vars/mailman.yaml
  playbooks/group_vars/mirror.yaml
  playbooks/group_vars/ns.yaml
  playbooks/group_vars/pbx.yaml
  playbooks/group_vars/webservers.yaml
  playbooks/group_vars/zuul-executor.yaml
  playbooks/group_vars/zuul-scheduler.yaml
  playbooks/zuul/run-base.yaml
  testinfra/test_base.py
Due: system-config-run-base

Fix git clone issue with puppet-install
  roles/puppet-install/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Update notes for submitted changes
  ad/0e8bd2414416a65bfb6807a7c0a890974ba252
Due: none

Don't git clone system-config in puppet-install
  roles/puppet-install/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Don't manage puppet.conf during puppet-install
  roles/puppet-install/tasks/puppet-install/CentOS.yaml
  roles/puppet-install/tasks/puppet-install/trusty.yaml
  roles/puppet-install/tasks/puppet-install/xenial.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Update notes for submitted changes
  17/a8a70643dfcdd399a640f8d680e99297e0c693
Due: none

[wip] rotate ansible logfiles
  playbooks/bridge.yaml
  roles/logrotate/README.rst
  roles/logrotate/defaults/main.yaml
  roles/logrotate/tasks/main.yaml
  roles/logrotate/templates/logrotate.conf.j2
  testinfra/test_base.py
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

[wip] rotate ansible logfiles
  playbooks/roles/ansible-cron/tasks/main.yaml
  playbooks/roles/install-ansible/tasks/main.yaml
  roles/logrotate/README.rst
  roles/logrotate/defaults/main.yaml
  roles/logrotate/tasks/main.yaml
  roles/logrotate/templates/logrotate.conf.j2
  testinfra/test_base.py
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

[wip] rotate ansible logfiles
  playbooks/roles/ansible-cron/tasks/main.yaml
  playbooks/roles/install-ansible/tasks/main.yaml
  roles-test/base.yaml
  roles-test/logrotate.yaml
  roles/logrotate/README.rst
  roles/logrotate/defaults/main.yaml
  roles/logrotate/tasks/main.yaml
  roles/logrotate/templates/logrotate.conf.j2
  testinfra/test_base.py
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

roles/kerberos-client: fix defaults
  roles/kerberos-client/defaults/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Remove obsolete pypi-mirror
  doc/source/jeepyb.rst
  modules/openstack_project/files/pypi-mirror.yaml
Due: none

Remove releasestatus configuration
  modules/openstack_project/manifests/status.pp
Due: none

Add logrotate role and rotate ansible log files
  playbooks/roles/ansible-cron/tasks/main.yaml
  playbooks/roles/install-ansible/tasks/main.yaml
  roles-test/base.yaml
  roles-test/logrotate.yaml
  roles/logrotate/README.rst
  roles/logrotate/defaults/main.yaml
  roles/logrotate/tasks/main.yaml
  roles/logrotate/templates/logrotate.conf.j2
  testinfra/test_base.py
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
