Repository openstack-infra/system-config: changes, and which Zuul jobs are due for each by the changed paths.
All: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Path conditions:
  system-config-zuul-role-integration-centos-7: any of: roles/.*
  system-config-zuul-role-integration-trusty: any of: roles/.*
  system-config-zuul-role-integration-xenial: any of: roles/.*
  system-config-zuul-role-integration-bionic: any of: roles/.*
  system-config-zuul-role-integration-debian-stable: any of: roles/.*
  system-config-run-base: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-base-ansible-devel: any of: .zuul.yaml, playbooks/.*, roles/.*, testinfra/.*
  system-config-run-eavesdrop: any of: .zuul.yaml, playbooks/group_vars/eavesdrop.yaml, testinfra/test_eavesdrop.py
  system-config-run-nodepool: any of: .zuul.yaml, playbooks/group_vars/nodepool.yaml, playbooks/group_vars/nodepool-builder.yaml, playbooks/group_vars/nodepool-launcher.yaml, playbooks/roles/configure-openstacksdk/, playbooks/templates/clouds/, testinfra/test_nodepool.py
  system-config-run-dns: any of: .zuul.yaml, playbooks/group_vars/adns.yaml, playbooks/group_vars/dns.yaml, ^playbooks/host_vars/(ad)?ns\d+.opendev.org.yaml, playbooks/zuul/templates/group_vars/adns.yaml.j2, playbooks/zuul/templates/group_vars/ns.yaml.j2, playbooks/roles/master-nameserver/, playbooks/roles/nameserver/, testinfra/test_adns.py, testinfra/test_ns.py

WIP: run a gerrit container
  .zuul.yaml
  inventory/groups.yaml
  playbooks/base.yaml
  playbooks/roles/gerrit/files/gerrit-docker/docker-compose.yaml
  playbooks/roles/gerrit/tasks/main.yaml
  testinfra/test_gerrit.py
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Build a bazel image
  .zuul.yaml
  docker/bazel/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Add support for passing path to docker build
  playbooks/zuul/build-image/run.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Build a gerrit image
  .zuul.yaml
  docker/gerrit/Dockerfile
  playbooks/zuul/gerrit/repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Put bazel image into gerrit Dockerfile
  .zuul.yaml
  docker/bazel/Dockerfile
  docker/gerrit/Dockerfile
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Add support for passing path to docker build
  .zuul.yaml
  playbooks/zuul/build-image/run.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Add verify-status plugin to gerrit build
  playbooks/zuul/gerrit/repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Add delete-project and importer plugins
  playbooks/zuul/gerrit/repos.yaml
  roles/setup-gerrit-source-repo/files/external_plugin_deps.bzl
  roles/setup-gerrit-source-repo/tasks/main.yaml
Due: system-config-zuul-role-integration-centos-7, system-config-zuul-role-integration-trusty, system-config-zuul-role-integration-xenial, system-config-zuul-role-integration-bionic, system-config-zuul-role-integration-debian-stable, system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  33/21ccf9581661bfd976baf1a1a54a9f127c8e59
Due: none

Add gerrit.googlesource.com to zuul using git driver
  hiera/group/zuul-executor.yaml
  hiera/group/zuul-merger.yaml
  hiera/group/zuul-scheduler.yaml
Due: none

Update notes for submitted changes
  70/0f1957064c29da167d099b1b109f2d8c3e4850
Due: none

Migrate OpenStackID dev server to php7
  manifests/site.pp
  modules/openstack_project/manifests/openstackid_dev.pp
Due: none

Add support for per-image environment variables
  .zuul.yaml
  playbooks/zuul/build-image/run.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Add support for per-image build-arg settings
  .zuul.yaml
  playbooks/zuul/build-image/run.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns

Delete change tags from docker image repos
  playbooks/zuul/build-image/promote-delete-tag.yaml
  playbooks/zuul/build-image/promote-retag.yaml
  playbooks/zuul/build-image/promote.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Update notes for submitted changes
  28/68294707780c51a4afa67a9dce2602ce75a5b9
Due: none

Delete change tags from docker image repos
  docker/gitea/Dockerfile
  playbooks/zuul/build-image/promote-delete-tag.yaml
  playbooks/zuul/build-image/promote-retag.yaml
  playbooks/zuul/build-image/promote.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel

Build a gerrit image
  .zuul.yaml
  docker/gerrit/Dockerfile
  playbooks/zuul/build-image/run.yaml
  playbooks/zuul/gerrit/repos.yaml
Due: system-config-run-base, system-config-run-base-ansible-devel, system-config-run-eavesdrop, system-config-run-nodepool, system-config-run-dns
